-# frozen_string_literal: true
= simple_form_for(@grade) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :student
    = f.association :study_plan
    = f.input :graduate_status
    = f.association :admission_type
    = f.input :registration_status
    = f.input :efficiency
    = f.input :weighted_average
    = f.input :simple_average

  .form-actions
    = f.button :submit
