.table-responsive
	%table.table.table-sm.border.text-center.table-info
		%tr
			%th.text-center Ingreso
			%th.text-center Admisión
			%th.text-center Registro
			%th.text-center Carrera
			%th.text-center Permanencia
			- if @grade&.school&.have_language_combination?
				%th.text-center Combinación Idiomas
			%th.text-center Cita horaria
			- if (session[:rol].eql? 'admin' and (current_user&.admin&.authorized_update? 'Grade'))
				%th
			- if (session[:rol].eql? 'admin' and (current_user&.admin&.authorized_read? 'Grade'))
				%th Coes v1

		%tr
			%td.text-center= @grade.label_start_process
			%td.text-center= @grade.label_admission_type
			%td.text-center= @grade.label_registration_status
			%td.text-center{title: 'Estado de la Carrera'}= @grade.label_graduate_status
			%td.text-center{title: 'Régimen Actual de Permanencia'}= @grade.label_current_permanence_status
			- if @grade&.school&.have_language_combination?
				%td.text-center
					= @grade.label_languages
			%td.text-center= @grade.label_cita_horaria
			- if (session[:rol].eql? 'admin' and (current_user&.admin&.authorized_update? 'Grade'))
				%td.text-center
			- if (session[:rol].eql? 'admin' and (current_user&.admin&.authorized_read? 'Grade'))
				%td.text-center
					= label_link_with_tooptip("/admin/grade/#{@grade.id}/old_inscripcion_coes", 'bg-warning', "<i class='fa fa-list'></i><i class='fa fa-signature'></i>", 'Ver datos en Coes v1', placement='top')				
