%h6.fw-bold.text-center Promedios
%table.table.table-sm.border
	%tr
		%td.text-end Eficiencia:
		%td.text-start.fw-bold= grade.efficiency
	%tr
		%td.text-end Promedio Simple:
		%td.text-start.fw-bold= grade.simple_average
	%tr
		%td.text-end Promedio Simple Aprobado:
		%td.text-start.fw-bold= grade.calculate_average_approved
	%tr
		%td.text-end Promedio Ponderado Aprobado:
		%td.text-start.fw-bold= grade.calculate_weighted_average_approved
	%tr
		%td.text-end Promedio Ponderado:
		%td.text-start.fw-bold= grade.weighted_average
