#sidescroll.table-responsive
  %table.table.table-condensed.table-striped.table-hover.border
    %thead
      %tr
        %th.sticky.header Asignatura
        %th.header Sección
        %th.header{title: 'Calificacion Final'} Final
        %th.header{title: 'Calificacion Posterior'} Posterior
        %th.header Tipo
        %th.header Periodo
    %tbody.table-group-divider
      - @object.grado&.inscripciones.each do |ins|
        %tr
          %th.sticky.text-start{title: "#{ins.seccion&.asignatura&.descripcion}"}= ins.seccion&.asignatura_id
          %td= ins.seccion&.numero
          %td= ins.calificacion_final
          %td= ins.calificacion_posterior
          %td= ins.tipo_calificacion&.descripcion
          %td= ins.seccion&.periodo_id
