#sidescroll.table-responsive
  %table.table.table-condensed.table-striped.table-hover.border
    %thead
      %tr
        %th.sticky.header Asignatura
        %th.header Sección
        %th.header{'data-bs-toggle': :tooltip, title: 'Calificacion Final'} Final
        %th.header{'data-bs-toggle': :tooltip, title: 'Calificacion Posterior'} Posterior
        %th.header Estado
        %th.header Tipo
        %th.header Periodo
    %tbody.table-group-divider
      - inscripciones.each do |ins|
        %tr
          %th.sticky.text-start{'data-bs-toggle': :tooltip, title: "#{ins.seccion&.asignatura&.descripcion}"}= ins.seccion&.asignatura_id
          %td= "#{ins.seccion&.numero} (#{ins.seccion&.tipo_seccion_id})"
          %td= ins.calificacion_final
          %td= ins.calificacion_posterior
          %td= "#{ins.estado&.titleize}"
          %td= ins.tipo_calificacion&.descripcion
          %td= ins.seccion&.periodo_id
