.p-0
  - if session[:rol].eql? 'admin' and (current_user&.admin&.authorized_delete? 'Grade' or current_user&.admin&.authorized_manage? 'Grade')
    = link_to '/admin/grade/8537/delete', class: 'btn btn-danger float-end' do
      %span.fa.fa-trash
  .m-0.bg-primary.text-white.text-center
    = "Plan: #{@grade.study_plan&.desc}"
    - if session[:rol].eql? 'admin' and (current_user&.admin&.authorized_manage? 'Grade')
      =# label_link_with_tooltip("/admin/grade/#{@grade.id}/edit", 'btn btn-info', "<i class='fa fa-pencil'></i>", 'Editar valores', placement='top')
      =link_to "/admin/grade/#{@grade.id}/edit", class: 'btn btn-info', 'data-bs-toggle': :tooltip, placement: 'top' do
        %i.fa.fa-pencil

= render partial: 'grades/general'
- if (current_user&.admin&.authorized_manage? 'EnrollAcademicProcess')
  = render partial: 'grades/enroll_process'

- id = 'ChangePermanenceStatus'
- title = 'Cambiar Estado de Permanencia'

- content = render '/enroll_academic_processes/change_permanence_status_form'
= render partial: '/layouts/scaffold-modal', locals: {content: content, title: title, id: id, long: ' '}

= render partial: 'grades/academic_resume'

= render template: 'enroll_academic_processes/index'

:javascript

  function setValuesPermanenceStatus(id, status){
    // $('#formChangePermanenceStatus').action(`/enroll_academic_processes/${id}/update_permanece_status`);

    $('#formChangePermanenceStatus').attr('action', `/enroll_academic_processes/${id}/update_permanece_status`);
    $('#permanenceStatusId').val(status);
    // console.log('This: '+this);
    // console.log('$(This): '+$(this));
    // $('#_sectioncourse_id').val(this.attributes['course_id'].value);
  }