.p-2
  .p-1.bg-primary.text-white.text-center= "Plan: #{@grade.study_plan&.desc}"

= render partial: 'enroll_academic_processes/new_student'
= render partial: 'grades/academic_resume'

= render template: 'enroll_academic_processes/index'
