%table.no_border{style: 'width: 280px'}
	%tr.text-center
		%th{colspan: "2"} Asignaturas:
	%tr
		%td.text-end Nro. Asignaturas Cursadas:
		%td.text-end.fw-bold= grade.total_subjects_coursed
	%tr
		%td.text-end Nro. Asignaturas Aprobadas (Sin EQ):
		%td.text-end.fw-bold= grade.total_subjects_approved_without_eq
	%tr
		%td.text-end Nro. Asignaturas por EQ:
		%td.text-end.fw-bold= grade.total_subjects_eq
	%tr
		%td.text-end Nro. Asignaturas Aprobadas:
		%td.text-end.fw-bold= grade.total_subjects_approved
	%tr
		%td.text-end Nro. Asignaturas Retiradas:
		%td.text-end.fw-bold= grade.total_subjects_retiradas
