%table.no_border{style: 'width: 300px'}
	%tr.text-center
		%th{colspan: "2"} Créditos:
	%tr
		%td.text-end Nro. Créditos Cursados:
		%td.text-end.fw-bold{style: 'width:40px'}= grade.total_credits_coursed
	%tr
		%td.text-end Nro. Créditos Aprobados (Sin EQ):
		%td.text-end.fw-bold= grade.total_credits_approved
	%tr
		%td.text-end Nro. Créditos por Equivalencia (EQ):
		%td.text-end.fw-bold= grade.total_credits_eq
	%tr
		%td.text-end Nro. Créditos Aprobados:
		%td.text-end.fw-bold= grade.total_credits_approved_without_eq
	%tr
		%td.text-end Eficiencia:
		%td.text-end.fw-bold= grade.efficiency
