%h1 Listing grades

%table
  %thead
    %tr
      %th Student
      %th Study plan
      %th Graduate status
      %th Admission type
      %th Registration status
      %th Efficiency
      %th Weighted average
      %th Simple average
      %th
      %th
      %th

  %tbody
    - @grades.each do |grade|
      %tr
        %td= grade.student
        %td= grade.study_plan
        %td= grade.graduate_status
        %td= grade.admission_type
        %td= grade.registration_status
        %td= grade.efficiency
        %td= grade.weighted_average
        %td= grade.simple_average
        %td= link_to 'Show', grade
        %td= link_to 'Edit', edit_grade_path(grade)
        %td= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Grade', new_grade_path
