= render partial: 'layouts/main_banner_email'

.text-center
	%h2.mb-3 Historia Académica

.text-end.m-3
	%b Fecha de Emisión:
	= "#{I18n.l(Time.zone.now, format: '%a, %d / %B / %Y (%I:%M%p)')}"
.text-center
	= render partial: '/grades/general_kardex', locals: {grade: grade}
	%h3.mt-3.text-center Resumen Académico
	= render partial: '/grades/credits_kardex', locals: {study_plan: grade.study_plan, grade: grade}
	= render partial: '/grades/numbers_kardex', locals: {grade: grade}
%hr
= render partial: 'enroll_academic_processes/academic_history_kardex', locals: {enroll_academic_processes: grade.enroll_academic_processes}

/%h6 Esquema de calificación por convocatoria
/%h6 DS2 | DA: Diferido Aprobado | DR: Diferido Reprobado | NP: No Presentó |
/%h6 FS1 | A: Aprobado | AB: Abandonada | AP: Aplazado | CO: Convalidada | EE: Aprobado Equivalente Externa | EI: Aprobado Equivalente Interna | EL: Eliminada Artículo 156 | EX: Exonerado | IS: Insuficiente | NF: Nota Final | NP: No Presentó | PI: Pérdida por Inasistencia | RC: Reconocimiento Créditos | RT: Retirada | SN: Sin Nota | SU: Suficiente |
/%h6 FS2 | A: Aprobado | AB: Abandonada | AP: Aplazado | CO: Convalidada | EE: Aprobado Equivalente Externa | EI: Aprobado Equivalente Interna | EL: Eliminada Artículo 156 | EQ: Equivalencia | EX: Exonerado | IS: Insuficiente | NF: Nota Final | NP: No Presentó | PI: Pérdida por Inasistencia | RC: Reconocimiento Créditos | RT: Retirada | SN: Sin Nota | SU: Suficiente |
/%h6 RS1 | NP: No Presentó | RA: Reparación Aprobada | RR: Reparación Reprobada |
/%h6 RS2 | NP: No Presentó | RA: Reparación Aprobada | RR: Reparación Reprobada |

%h4 
	%strong NOTA: CUANDO EXISTA DISCREPANCIA ENTRE LOS DATOS CONTENIDOS EN LAS ACTAS DE EXAMENES Y ESTE COMPROBANTE, LOS PRIMEROS SE TENDRÁN COMO AUTENTICOS PARA CUALQUIER FIN.
%h4
	%strong * ESTE COMPROBANTE ES DE CARACTER INFORMATIVO, NO TIENE VALIDEZ LEGAL *.
%br
