- if false
  .toast{"aria-atomic" => "true", "aria-live" => "assertive", :role => "alert", autohide: false}
    .toast-header
      %img.rounded.me-2{:alt => "...", :src => "..."}/
      %strong.me-auto Bootstrap
      %small 11 mins ago
      %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "toast", :type => "button"}
    .toast-body
      Hello, world! This is a toast message.


- if false #current_user.eql? @student.user and grade and grade.reportepago.nil? and grade.asignado? and !@grado.enroll_academic_process.any?
  - # REPORTE DE PAGO DE LA ESCUELA
  - # 
  = # render template: 'payment_reports/new'que contenga lo de abajo 
  - reportable = grado
  - payment_report = PaymentReport.new
  - content = render partial: "/payment_reports/form"
  = render partial: '/layouts/scaffold-modal', locals: {id_modal: "paymentReportGrade#{@grado.id}", content: content, title: 'Reportar Pago a la Facultad de Ingreso a Escuela'}

  = link_to '#', onclick: "$('#paymentReportGrade#{grado.id}').modal()", class: 'm-3 btn btn-success' do
    = glyph 'plus'
    = "Reportar Pago Ingreso a #{grade.school.code}"



- if session[:rol]&.eql? 'admin' and (current_user&.admin&.authorized_manage? 'AcademicRecord')
  .m-3.p-3= render partial: 'enroll_academic_processes/new', locals: {grade: grade}
- else
  - school = grade.school
  - # NUEVO SECUENCIA DE INSCRIPCIN:

  - if academic_process = school&.enroll_process
    - academic_process_before = academic_process&.process_before
    - # INSCRIPCIN ABIERTA!
    .border.border-success.mb-3
      - title = "PROCESO DE INSCRIPCIN #{academic_process.period.name} "
      %h4#title.text-center.bg-success.text-light.py-2.mt-0
      .p-2

        - inscripcion = grade.enroll_academic_processes.of_academic_process(academic_process.id).first

        - if inscripcion.preinscrito?
          - if school.enable_enroll_payment_report? 
            - if inscripcion.payment_reports.any?
              = render '/enroll_academic_processes/show_planilla'
            - else
              %h5.alert.alert-danger.text-center
                隆Atenci贸n!
                Es necesario realizar el reporte de pago de su inscripci贸n. Posteriormente podr谩 descargar la Planilla de Preinscripci贸n

                - id = "paymentReportModal#{inscripcion.id}"
                - titlePayment = "Reportar Pago inscripci贸n #{academic_process.short_desc}"
                %br
                %a.btn.btn-success.btn-lg.my-3{"data-bs-target": "##{id}", "data-bs-toggle": :modal, type: :button}
                  .fa.fa-receipt
                  = titlePayment
              - reportable = inscripcion
              - @payment_report_new = PaymentReport.new(payable: inscripcion, amount: academic_process.registration_amount)
              - content = render partial: "/payment_reports/form"
              = render partial: '/layouts/scaffold-modal', locals: {content: content, title: titlePayment, id: id}
          - else
            = render '/enroll_academic_processes/show_planilla'

        - else
          - if grade.valid_to_enroll_in academic_process
            - # "REGULAR"

            - # ROYER RABIT
            = render partial: '/grades/regulation', locals: {grado: grade}

            - if (inscripcion.nil? or inscripcion&.reservado?)
              - # PROCESO DE INSCRIPCIN NO COMPLETADO
              - if academic_process.enroll_instructions
                .border.m-2.p-2.text-center
                  = raw academic_process.enroll_instructions

              - if academic_process.enrollment_days.any?
                - # PLANIFICACIN POR CITA HORARIA
                - current_enrollment_day = academic_process.enrollment_days.of_today.first
                - if current_enrollment_day&.active_now?
                  - title += " CON CITA HORARIA"

                - if grade.has_a_appointment_time?
                  - if grade.can_enroll_by_apponintment?
                    - if inscripcion&.reservado?
                      - # InProgress
                      = render partial: 'grades/msg_enroll_in_progress', locals: {grade: grade}

                    - # It's Time!
                    = render partial: 'grades/msg_its_time_to_enroll', locals: {grade: grade}
                    - # Incluir cuenta regresiva js

                    - enabled_to_enroll = true
                  - elsif (grade.enroll_is_in_future? and inscripcion.nil?)
                    - # message future enrollment_day:
                    = render partial: 'grades/msg_appointment_time', locals: {grade: grade}
                  - else
                    = render partial: 'enroll_academic_processes/msg_the_time_to_enroll_passed', locals: {grade: grade}

              - else
                - # PLANIFICACION DIRECTA, SIN CITA HORARIA
                - enabled_to_enroll = true

            - if enabled_to_enroll
              .m-3.p-3.text-center= render partial: 'enroll_academic_processes/new', locals: {grade: grade, academic_process: academic_process}
          - elsif ['articulo3', 'articulo6', 'articulo7'].include? grade.current_permanence_status
            - # ROYER RABIT
            = render partial: '/grades/regulation', locals: {grado: grade}
          - elsif ['nuevo', 'intercambio', 'egresado', 'egresado_doble_titulo'].include? grade.current_permanence_status
            .alert.alert-warning
              %b ATENCIN:
              Su estado actual indica que su inscripci贸n debe realizarse directamente por Control de Estudio.
              = grade.help_msg
          - elsif ['desertor', 'permiso_para_no_cursar'].include? grade.current_permanence_status
            .alert.alert-danger 
              %b ATENCIN: 
              Su estado actual de permanencia lo imposibilita para inscribirse. Contacte al personal de Control de Estudio de la escuela para solventar su situaci贸n si considera que el caso lo amerita.
              = grade.help_msg
          - elsif (academic_process_before and self.enroll_academic_processes.of_academic_process(academic_process_before.id).any?)
            .alert.alert-danger 
              %b ATENCIN: 
              = "Usted no realiz贸 un proceso de inscripci贸n en el per铆odo anterior (#{academic_process_before.period_name}) por lo que su preinscripci贸n no podr谩 realizarla. Debe dirigirse a Control de Estudio para solventar su situaci贸n."
              = grade.help_msg

    - unless title&.blank?
      :javascript
        let ele = document.getElementById('title')
        ele.innerText = `#{title}`;


= render partial: 'grades/academic_resume', locals: {grade: grade}

= render template: 'enroll_academic_processes/index', locals: {grade: grade}
