%p#notice= notice

%p
  %b Student:
  = @grade.student
%p
  %b Study plan:
  = @grade.study_plan
%p
  %b Graduate status:
  = @grade.graduate_status
%p
  %b Enroll state:
  = @grade.enroll_state
%p
  %b Admission type:
  = @grade.admission_type
%p
  %b Registration status:
  = @grade.registration_status
%p
  %b Efficiency:
  = @grade.efficiency
%p
  %b Weighted average:
  = @grade.weighted_average
%p
  %b Simple average:
  = @grade.simple_average

= link_to 'Edit', edit_grade_path(@grade)
\|
= link_to 'Back', grades_path
