  

- if _current_user
  %ul.navbar-nav.ms-auto.root_links
    - if session[:period_name]
      - id = 'changePeriodSession'
      %li.nav-item.btn.btn-outline-success.me-2{"data-bs-target": "##{id}", "data-bs-toggle": "modal", type: "button"}
        .fa.fa-calendar
        Período de la Sesión: #{session[:period_name]}

    %li.nav-item
      - if _current_user&.profile_picture&.attached?
        - begin
          = image_tag _current_user.profile_picture_as_thumb, class: "avatar", size: '35x35'
        - rescue Exception => e
          = image_tag 'foto_perfil_default_35.png'
      - else
        = image_tag 'foto_perfil_default_35.png'
    - if user_link = edit_user_link
      %li.nav-item.edit_user_root_link
        =# user_link
        - user_name = _current_user.reverse_name
        - user_name = _current_user.email if user_name.blank?
        = link_to user_name, "/admin/user/#{_current_user&.id}/edit", class: 'nav-link' 
    - if logout_path.present?
      %li.nav-item
        = link_to logout_path, method: logout_method, class: 'btn btn-sm badge mt-2 btn-outline-danger align-text-bottom', data: {turbo: 'false'} do
          = t('admin.misc.log_out')