
- link_coes = link_to 'plus.coesfhe.com', 'https://plus.coesfhe.com/'

= "Estimad#{@genero}: <b>#{@nombre}</b>,".html_safe
  
%p= "Su inscripción en #{@escuela_desc} para el período #{@periodo_id} ha sido confirmada para las siguientes asignaturas:".html_safe

%ol
  - @sections.each do |sec| 
    %li= sec.desc_subj_code

%p Favor estar atento a la fecha de inicio de las clases.
 
%p Saludos cordiales.