-# frozen_string_literal: true
.row.justify-content-center.mb-3
  = simple_form_for(@period) do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    .form-inputs

      = f.input :year, input_html: {step: 1, min: 1980, max: 2200}
      =# f.year_field :year, input_html: {step: 1, min: 1980, max: 2200}
      =# f.range_field :year, in: 1980..2100 
      = f.input :modality, collection: Period.modalities.keys, as: :radio_buttons

    .form-actions
      = f.button :submit, class: "btn-primary" 
      = f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" 