%h1= @periods.model_name.human.pluralize

%table.table
  %thead
    %tr
      %th= @periods.human_attribute_name(:year)
      %th= @periods.human_attribute_name(:period_type)
      %th
      %th
      %th

  %tbody
    - @periods.each do |period|
      %tr
        %td= period.year
        %td= period.period_type.name
        %td= link_to 'Show', period
        %td= link_to 'Edit', edit_period_path(period)
        %td= link_to 'Destroy', period, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Period', new_period_path
