%p#notice= notice

%p
  %b Orden:
  = @period.ordinal
%p
  %b Year:
  = @period.year
%p
  %b Modalidad:
  = @period.modality

= link_to 'Edit', edit_period_path(@period)
\|
= link_to 'Back', periods_path
