- final_q_to_02i = academic_record.final_q_to_02i_to_from
- aprobado = academic_record.aprobado?
- absoluta = academic_record.subject.absoluta?
- diferido = academic_record.diferido?
- reparacion = academic_record.reparacion?


- if absoluta
  %td
    - options = {"aprobado"=>1, "aplazado"=>2}
    - options.map do |v,k|
      = radio_button_tag "[academic_record]status", k, status.eql?(v), disabled: disable_row, required: !disable_row, class: 'absoluta', id_obj: id, type_q: :final
      .badge.badge-success= v.upcase

- else
  - no_post_q = !(diferido or reparacion)
  - disabled_final_q = (disable_row or !no_post_q)

  %td= check_box_tag nil, 'pi', academic_record.pi?, {class: 'pi', id_obj: id, disabled: preinscrito, onclick: 'pi(this);'}
  %td= text_field_tag "[qualification]final", {}, {value: final_q_to_02i, placeholder: 'Final', class: 'form-control form-control-sm qualifiable final onlyQualify', disabled: disabled_final_q, required:!disabled_final_q, step: 1, in: 0...21, id_obj: id, type_q: :final, onchange: 'sendQualification(this);final(this);', oninput: 'onlyValidQ(this);'}

  - if false
    - checkbox_disabled = (disable_row or aprobado or final_q_to_02i.nil?)
    %td= check_box_tag nil, :diferido, diferido, {disabled: (checkbox_disabled or reparacion), class: 'checkPost', id_obj: id, onclick: 'checkPost(this);'}

    %td= check_box_tag nil, :reparacion, reparacion, {disabled: (checkbox_disabled or diferido), class: 'checkPost', id_obj: id, onclick: 'checkPost(this);'}

    %td= text_field_tag "[qualification]post", {}, {value: academic_record.post_q_value, placeholder: 'Post', class: 'form-control form-control-sm qualifiable', disabled: no_post_q, required: !no_post_q,  step: 1, in: 0...21, id_obj: id, type_q: academic_record.post_type_q, onchange: 'sendQualification(this);', oninput: 'onlyValidQ(this);'}

