-# frozen_string_literal: true
= link_to "/admin/student/#{enroll.student.id}", class: 'btn btn-primary mb-3' do
  .fas.fa-chevron-left
  = "Ir al detalle de #{enroll.user.first_name}"


- admin = current_user.admin
- active = admin and admin.authorized_manage? 'AcademicRecord'
= render partial: 'academic_records/form_historical', locals: {enroll: enroll} if active
- if enroll.academic_records.any?

  .border.mb-3
    %h5.bg-info.p-1.text-center.mb-0 Registros de Inscripciones
    = render partial: 'academic_records/index_to_history', locals: {academic_records: enroll.academic_records, enabled_delete: true, enabled_change: false, enabled_retire: false}
    - if current_user&.admin? and session[:rol].eql? 'admin' and enroll
      = form_tag "/enroll_academic_processes/#{enroll.id}/preinscribir_admin" do
        .text-center.p-2.alert.alert-warning
          = render partial: 'enroll_academic_processes/complete_and_send_email', locals: {enroll: enroll}
          %button.mt-3.btn.btn-primary{id: 'submitBtn', type: :submit} Completar
