- @academic_records = academic_records if !academic_records.nil? and @academic_records.nil?

.alert.alert-info
  Sección Inhabilitada para calificar
- if admin&.eql? true
  .alert.alert-warning
    Para activar las calificaciones, en el listado de escuelas primero cierre todo proceso de inscripción de la escuela respectiva y seguidamente active el periodo correspondiente a esta sección  

.table-responsive
  %table.table.table-condensed.table-striped.table-hover
    %thead
      %tr
        %th #
        %th CI
        %th Correo
        %th Apellidos
        %th Nombres
        %th Cal. Final
        %th Estado

    %tbody
      - @academic_records.joins(:user).order('users.last_name ASC, users.first_name ASC').each_with_index do |academic_record, i|
        - user = academic_record.user
        %tr{class: academic_record.tr_class_by_status_q}
          %td= i+1
          %td= user.ci
          %td= user.email
          %td= user.last_name
          %td= user.first_name
          %td= academic_record.definitive_label
          %td
            .badge.bg-info= academic_record.status.titleize
