%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th CI
      %th Correo
      %th Apellidos
      %th Nombres
      %th Cal. Final
      %th Cal. Post
      %th Status

  %tbody
    - @academic_records.each do |academic_record|
      - user = academic_record.user
      %tr
        %td= user.ci
        %td= user.email
        %td= user.last_name
        %td= user.first_name
        %td= academic_record.final_q
        %td= academic_record.post_q
        %td= academic_record.status_q
