%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th CI
      %th Correo
      %th Apellidos
      %th Nombres
      %th Cal. Final
      %th Estado

  %tbody
    - @academic_records.each do |academic_record|
      - user = academic_record.user
      %tr{class: academic_record.tr_class_by_status_q}
        %td= user.ci
        %td= user.email
        %td= user.last_name
        %td= user.first_name
        %td= academic_record.definitive_label
        %td
          .badge.bg-info= academic_record.status.titleize
