%h6.titulo Imágenes de Soportes:
- correo_ayuda = @user.grades.first ? @user.grades.first.school&.faculty&.contact_email : 'coes.fhe@gmail.com'

.alert.alert-warning
  %b IMPORTANTE: 
  = "Debido a los inconvenientes de conectividad geenral, recomendamos encarecidamente subir archivos de baja resolución y peso (menores a 3 MegaByte), de ser posible capturas de pantalla. Si al intentar subir el archivo adjunto el sistema genera un error o tarda más de 3 minutos en responder, puede intentar nuevamente el proceso con un archivo más liviano o enviarlo al correo electrónico #{correo_ayuda} para brindarle el apoyo respectivo.".html_safe

= form_tag(update_images_user_path(@user), class: 'form-horizontal') do
  = render partial: 'layouts/image_structure', locals: {objeto: @user.foto_perfil, titulo: 'Foto de Perfil:' , mensaje: "Suba una foto tipo carnet, de frente y con fondo blanco únicamente."}
  - if  @user.estudiante
    = render partial: 'layouts/image_structure', locals: {objeto: @user.imagen_ci, titulo: 'Imagen CI:' , mensaje: "Suba una foto perfectamente legible de su cédula de identidad."}

:javascript
  $('.file_Upload').bind('change', function (e) {
      $('#fileupload').fileupload('add', {
          files: e.target.files || [{name: this.value}],
          fileInput: $(this)
      });
  });


  $('.fileUpload').fileupload({

    progress: function(e, data) {
      var progress = parseInt(data.loaded / data.total * 100, 10);
      var idProgress = $(this).attr('progressBarId')
      console.log(data);
      console.log(progress);
      $('#'+idProgress+' .progress-bar').css(
        'width',
        progress + '%'
      );
      $('#'+idProgress+' .progress-bar').attr(
        'aria-valuenow',
        progress + '%'
      );


    },
    dataType: 'json',
    done: function(e, data) {
      var idProgress = $(this).attr('progressBarId')
      var imgPreview = $(this).attr('preview')
      $('#'+idProgress+' .progress-bar').css('width','0%');
      $('#'+imgPreview+'').attr('src', data.result.url);
      // $(this).hide();
      // $('#'+idProgress).hide();
      var result = $('#'+$(this).attr('result'));
      toastr.options.timeOut = 3500;
      toastr.success("¡Imagen agregada con éxito!");
      //result.addClass('text-success')
      //result.removeClass('text-muted')



    },
    fail: function(e, data){
      console.log(data);
      toastr.error(data._response.errorThrown);
      //alert(data._response.errorThrown);
    ;}

  });

