.text-center.border
  %table.table.table-sm
    %tbody
      %tr
        - if (session[:rol] and session[:rol].eql? 'admin') and user.profile_picture and user.profile_picture.attached? and user.profile_picture.representable?
          %td
            = render partial: "layouts/set_image", locals: {image: user.profile_picture_as_thumb, size: '40x40', alt: "foto perfil #{user.nick_name}"}

        %td.string_type= user.ci
        %td.string_type= user.first_name
        %td.string_type= user.last_name
        %td.string_type= user.email
        %td.string_type= user.password
        - if user.number_phone
          %td.string_type= user.number_phone
        - if user.sex  
          %td.string_type= user.sex.titleize 
