- @user = current_user
.vh-100.d-flex.justify-content-center
  .col-md-10
    .border.p-3
      = simple_form_for @user, html: { class: 'form-horizontal', novalidate: false } do |f|
        
        %h5.text-center.bg-dark.text-info.p-1 CAMBIO DE CONTRASEÑA
        .alert.alert-danger.text-center
          %b= "Por razones de seguridad al completar esta acción, la sesión se cerrará y deberá iniciarla nuevamente con la nueva contraseña.".html_safe

        %div{'data-bs-toggle': :tooltip, title: 'Cambie su contraseña a un valor distinto a la cédula de identidad'}
          = f.input :password, required: true, minlength: 6, passwordrules: "required: upper; required: lower; required: digit; minlength: 8; allowed: [-().&@?'#,/&quot;+]; max-consecutive: 2"
          = f.input :password_confirmation, required: true, input_html: {minlength: 6}

        = f.submit 'Siguiente', class: 'btn btn-primary float-end', disable_with: 'Cargando...'
        %br
        %br
