- if academic_process.enroll_academic_processes.any?
  - msg =  "Periodo con inscripciones. El proceso de clonación se realiza antes de realizar las inscripciones en un período. Elimine todas las inscripciones para activar esta opción"
  %b{title: msg}
    = link_to '#', class: 'btn btn-secondary disabled', disabled: true do
      .fa-solid.fa-shapes
      .fa.fa-clone
      Clonar Programación
- else
  - id = 'clonationModal'
  %button.btn.btn-primary{"data-bs-target": "##{id}", "data-bs-toggle": :modal, type: :button}
    .fa-solid.fa-shapes
    .fa.fa-clone
    Clonar Programación
  - title = 'Clonar Programación'
  - content = render partial: '/academic_processes/clonation_form', locals: {academic_process: academic_process}
  = render partial: '/layouts/scaffold-modal', locals: {content: content, title: title, id: id}

- if academic_process.sections.any?
  - period_name = academic_process.period.name
  - total = academic_process.sections.count

  = link_to "/admin/course?f%5Bacademic_process%5D%5B52520%5D%5Bo%5D=like&f%5Bacademic_process%5D%5B52520%5D%5Bv%5D=#{period_name}", class: 'btn btn-primary mx-1' do
    .fa-solid.fa-shapes
    ="Programación #{period_name}"

  = link_to "/academic_processes/#{academic_process.id}/clean_courses", class: 'btn btn-danger mx-1', 'data-confirm': "Esta acción es irreversible y eliminará un total de #{total} secciones asociadas al proceso. ¿ Está completamente seguro?" do
    .fa-solid.fa-shapes
    .fa.fa-trash
    = "Eliminar Programación"
