- if academic_process.enroll_academic_processes.any?
  %h5.alert.alert-info Este proceso académico posee inscripciones. Por seguridad, el proceso de clonación se realiza antes de las inscripciones en un período. Proceda a eliminarlas para activar esta opción
  = link_to '#', 'Clonar Perído', class: 'btn btn-success disabled', disabled: true
- else
  - id = 'clonationModal'
  %button.btn.btn-primary{"data-bs-target": "##{id}", "data-bs-toggle": :modal, type: :button}
    .fa.fa-clone
    Clonar de Procesos Anteriores
  - title = 'Clonar Proceso Académico'
  - content = render partial: '/academic_processes/clonation_form', locals: {academic_process: academic_process}
  = render partial: '/layouts/scaffold-modal', locals: {content: content, title: title, id: id}

- if academic_process.sections.any?
  - total = academic_process.sections.count
  = link_to "/academic_processes/#{academic_process.id}/clean_courses", class: 'btn btn-danger', 'data-confirm': "Esta acción es irreversible y eliminará un total de #{total} secciones asociadas al proceso. ¿ Está completamente seguro?" do
    .fa.fa-trash
    = "Limpiar Proceso"
