
%table.table.table-sm
  %thead
    %tr.text-center
      %th Escuela
      %th Periodo
      %th Tipo
      %th Max. Créd 
      %th Max. Asig 
      %th.col-2 Inscritos
      %th.col-1 Secciones

  %tbody
    %tr.text-center
      %td= academic_process.school.short_name
      %td= academic_process.period.name
      %td
        .label.bg-info= academic_process.modality.titleize
      %td= academic_process.max_credits
      %td.text-center= academic_process.max_subjects
      %td.text-center= academic_process.label_total_enrolls_by_status.html_safe


      %td.text-center
        - academic_process.label_total_sections.map do |e|
          = e.html_safe