
%table.table.table-sm
  %thead
    %tr.text-center
      %th Escuela
      %th Periodo
      %th Tipo
      %th Max. Créd 
      %th Max. Asig 
      %th.col-2 Inscritos
      %th.col-1 Secciones

  %tbody
    %tr.text-center
      %th= academic_process.school.short_name
      %th= academic_process.period.name
      %th
        .label.bg-info= academic_process.modality.titleize
      %th= academic_process.max_credits
      %th.text-center= academic_process.max_subjects
      - linked = (current_user&.admin&.authorized_read? 'EnrollAcademicProcess')
      %th.text-center= academic_process.label_total_enrolls_by_status(linked).html_safe


      %th.text-center
        - academic_process.label_total_sections.map do |e|
          = e.html_safe