- if authorized
    = "#{ap.btn_total_enrolls_by_status}".html_safe
    = ap.link_to_massive_confirmation if ap.enroll_academic_processes.not_confirmado.with_payment_report.any?
- else
    = "#{ap.label_total_enrolls_by_status}".html_safe
