- enabled_read = (current_user&.admin&.authorized_read? 'Section') ? true : false
- enabled_delete = (current_user&.admin&.authorized_delete? 'Section')

- sections.each do |sec|
  - urlSec = enabled_read ? "/admin/section/#{sec.id}" : 'javascript:void(0)'
  - btn = ApplicationController.helpers.btn_link_with_tooptip(urlSec, 'btn-info', sec.code, sec.schedule_teacher_desc_short)
  %td.pr-0.pl-1.m-2
    = btn.html_safe
    - if enabled_delete 
      - if !sec.academic_records.any?
        - url = "/sections/bulk_delete?bulk_ids%5B%5D=#{sec.id}"
        = link_to url, class: 'btn btn-sm btn-danger ml-0 px-1', title: "Eliminar #{sec.code}", method: :post, 'data-confirm': "Está acción es irreversible, eliminará la sección" do
          %i.fas.fa-remove
      - else
        %b{title: "Elimine las inscripciones para activar esta opción"}
          %a.btn.btn-sm.btn-secondary.disabled.ml-0.px-1
            %i.fas.fa-remove 

- if enabled_delete
  %td.border-start.border-3.border-secondary.px-1
    - if has_enrolled
      %b{title: 'Elimine las inscripciones en la sección para activar esta opcíon'}
        = link_to 'javascript:void(0)', class: 'btn btn-sm btn-danger disabled', disabled: true do
          %i.fas.fa-trash
    - else
      - url = '/sections/bulk_delete'
      - sections.each_with_index do |sec, i|
        - aux = (i.eql? 0) ? "?" : "&"
        - url += "#{aux}bulk_ids%5B%5D=#{sec.id}"

      = link_to url, class: 'btn btn-sm btn-danger', title: 'Eliminar Todas Secciones', method: :post, 'data-confirm': "Está acción es irreversible, eliminará un total de #{sections.count}" do
        %i.fas.fa-trash
