= render partial: "/importer/area_field_tag"

#qualification_type_field.control-group.row.mb-3
  %label.col-sm-2.col-form-label.text-md-end{for: "qualification_type_field"} Tipo de Calificación
  .col-sm-10.controls
    - Subject.qualification_types.each_with_index.map do |value, i|
      %label.btn.btn-secondary.btn-sm
        = radio_button_tag 'qualification_type', value[0], i.eql?(0)
        = "#{value[0].upcase}"
    .form-text
      %span.label.label-danger Requerida
      .bg-warning.p-1.my-1.text-dark Opción por defecto: Esta selección será omitida si el archivo contiene una columna que indica el tipo de calificación

#subject_type.control-group.row.mb-3
  %label.col-sm-2.col-form-label.text-md-end{for: "subject_type"} Tipo de Asignatura
  .col-sm-10.controls
    - SubjectType.all.each do |e|
      %label.btn.btn-secondary.btn-sm
        = radio_button_tag 'subject_type_id', e.id
        = e.name&.downcase.pluralize.titleize
    .form-text
      %span.label.label-danger Requerida
      .bg-warning.p-1.my-1.text-dark Opción por defecto: Esta selección será omitida si el archivo contiene una columna que indica el tipo de asignatura (o modalidad) 