%br
%table.font-sm.no_border
  %thead.border
    %tr
      %th N°
      %th CÉDULA
      %th APELLIDOS Y NOMBRES
      %th PLAN
      %th DESC
      - unless @section.subject.as_absolute?
        %th NUM
      %th LETRAS

  %tbody
    - @academic_records.each_with_index do |ar, i|
      - if !ar.qualifications.any? or @section.subject.as_absolute?
        %tr.text-center
          %td= i+1
          %td= ar.user.ci
          %td= ar.user.reverse_name
          %td= ar.study_plan.code
          %td= ar.desc_conv_absolute
          %td= ar.num_to_s
      - else
        - ar.qualifications.each do |q|
          %tr
            %td.text-center= i+1
            %td.text-center= ar.user.ci
            %td.padding-x= ar.user.reverse_name
            %td.text-center= ar.study_plan.code
            %td.text-center= q.desc_conv
            %td.text-center= q.value_to_02i
            %td.padding-x= ar.num_to_s