- total = academic_records.count
- rest = total%total_by_page
%table.no_border.table-striped
  %thead.border
    %tr
      %th N°
      %th CÉDULA
      %th APELLIDOS Y NOMBRES
      %th PLAN
      %th CAL
      %th TIPO
      - unless section.subject.as_absolute?
        %th NUM
      %th.w-15 LETRAS

  %tbody
    - academic_records.each_with_index do |ar, i|
      - if !ar.qualifications.any? or section.subject.as_absolute?
        = render partial: '/academic_records/tr_to_acta', locals: {i: i, ar: ar, q: nil, absolute: section.subject.as_absolute?}
      - else
        - ar.qualifications.each do |q|
          = render partial: '/academic_records/tr_to_acta', locals: {i: i, ar: ar, q: q, absolute: true}

    - if rest > 0
      - loops = (total_by_page-rest)-1 
      - loops.times do
        %tr.h-30.font-sm
          %td= '**'
          %td.text-center= '********'
          %td.padding-x= '***************************************************'
          %td.text-center= '****'
          - unless section.subject.as_absolute?
            %td.text-center= '****'
          %td.text-center= '**'
          %td.text-center= '**'
          %td.padding-x= '*************'