%br
%table.no_border.font-m
  %thead
    %tr
      %td
        %b FECHA DE EMISIÓN:
        = I18n.l(Time.now, format: "%d/%m/%Y")
      %td.text-right
        %b ACTA NO.:
        = section.number_acta
    %tr
      %td
        %b EJERCICIO:
        = period_name
      %td.text-right
        %b PERIODO ACADÉMICO:
        = period_name
    %tr
      %td
        %b FACULTAD:
        = faculty_name
      %td.text-right
        %b TIPO DE CONVOCATORIA:
        = section.conv_type
    %tr
      %td
        %b ESCUELA:
        = school_name
      %td