
%table.table.table-sm
  %thead
    %tr.text-center
      %td.col-1 Período
      %td.col-1 Sec
      %td Asignatura
      %td Profesor
      %td Horario
      %td.col-1 Créditos
      %td.col-1 Cupos
      %td.col-1 Calif
  %tbody
    %tr.text-center
      %td= section.period.name if section.period
      %td= section.code
      %td{title: section.subject.desc}
        - if section.subject
          - if current_user.admin? and session[:rol].eql? 'admin'
            %a{href: "/admin/subject/#{section.subject_id}"}= section.subject.desc 
          - else
            = section.subject.desc

      - teacher_desc = section.teacher.desc if section.teacher
      %td{title: teacher_desc}
        - if section.teacher 
          - if current_user.admin? and session[:rol].eql? 'admin'
            %a{href: "/admin/teacher/#{section.teacher_id}"}= section.teacher.desc 
          - else
            = section.teacher.desc

      - if section.schedules
        %td{title: section.schedule_name}
          = section.schedule_short_name
      -else 
        %td
      %td= section.subject.unit_credits
      %td
        .badge.bg-secondary= section.total_academic_records
        de
        .badge.bg-info= section.capacity
      %td
        - if section.qualified?
          .badge.bg-success{title: 'Calificada'}
            .fa.fa-check
        - else
          .badge.bg-danger{title: 'Por calificar'}
            .fa.fa-remove
        = badge_toggle_section_qualified section