
%table.table.table-sm
  %thead
    %tr.text-center
      %td.col-1 Escuela
      %td.col-1 Período
      %td.col-1 Sec
      %td.col-1 Tipo
      %td.col-1 PCI
      %td Asignatura
      %td Profesor
      %td Horario
      %td.col-1 Créditos
      %td.col-1 Cupos
      %td.col-1 Calif
  %tbody
    %tr.text-center
      %td= section.academic_process&.school&.short_name
      %td= section.academic_process&.process_name
      %td= section.code
      %td= section.label_modality true
      %td= section.course.label_pci_yes_or_not
      %td{'data-bs-toggle': :tooltip, title: section.subject.desc}
        - if section.subject
          - if current_user&.admin&.authorized_manage? 'Subject' and session[:rol].eql? 'admin'
            %a{href: "/admin/subject/#{section.subject.id}"}= section.course.subject_desc_with_pci 
          - else
            = section.course.subject_desc_with_pci
      - teacher_desc = section.teacher.desc if section.teacher
      %td{'data-bs-toggle': :tooltip, title: teacher_desc}
        - if section.teacher 
          - if current_user&.admin&.authorized_manage? 'Teacher' and session[:rol].eql? 'admin'
            %a{href: "/admin/teacher/#{section.teacher_id}"}= section.teacher.desc 
          - else
            = section.teacher.desc

      %td= section.schedules_short_desc_label

      %td= section.subject.unit_credits
      %td
        .badge.bg-secondary= section.total_academic_records
        de
        .badge.bg-info= section.capacity
      %td
        = section.label_qualified
        - if session[:rol].eql? 'admin' and current_user&.admin&.authorized_manage? 'Seccion'
          = badge_toggle_section_qualified section