
%table.table.table-sm
  %thead
    %tr.text-center
      %td Sec
      %td Asignatura
      %td Período
      %td Profesor
      %td Créditos
      %td Cupos
      %td.col-1 Calif
  %tbody
    %tr.text-center
      %td= section.code
      %td{title: section.subject.desc}
        - if section.subject
          - if current_user.admin? and session[:rol].eql? 'admin'
            %a{href: "/admin/subject/#{section.subject_id}"}= section.subject.desc 
          - else
            = section.subject.desc

      %td= section.period.name if section.period
      %td{title: section.teacher.desc}
        - if section.teacher 
          - if current_user.admin? and session[:rol].eql? 'admin'
            %a{href: "/admin/teacher/#{section.teacher_id}"}= section.teacher.desc 
          - else
            = section.teacher.desc

      %td= section.subject.unit_credits
      %td
        .badge.bg-secondary= section.total_academic_records
        de
        .badge.bg-info= section.capacity
      %td
        - if section.qualified?
          .fa.fa-check
        - else
          .fa.fa-remove

