
%table.table.table-sm
  %thead
    %tr
      %td Sec
      %td Asignatura
      %td Período
      %td Profesor
      %td Créd
      %td.text-center Capac
  %tbody
    %tr
      %td= section.code
      %td
        - if section.subject
          - if current_user.admin? and session[:rol].eql? 'admin'
            %a{href: "/admin/subject/#{section.subject_id}"}= section.subject.desc 
          - else
            = section.subject.desc

      %td= section.period.name if section.period
      %td
        - if section.teacher 
          - if current_user.admin? and session[:rol].eql? 'admin'
            %a{href: "/admin/teacher/#{section.teacher_id}"}= section.teacher.desc 
          - else
            = section.teacher.desc

      %td.text-center= section.subject.unit_credits
      %td.text-center
        .badge.bg-secondary= section.total_academic_records
        de
        .badge.bg-info= section.capacity

