
- total = @academic_records.count
- if total > 0
	- top = 35
	- if total <= top
		= render '/sections/acta_header'
		= render 'acta_title'
		= render 'acta_description'
		= render partial: 'acta_academic_records', locals: {academic_records: @academic_records, global_i: 0}
		- (top-total).times do
			%br
		= render 'signatures'
	- else
		- part = (top/total)+1
		- rest = total%top
		- total
		- for i in 0..part do
			- indice = i*top
			= render '/sections/acta_header'
			= render 'acta_title'
			= render 'acta_description'			
			= render partial: 'acta_academic_records', locals: {academic_records: @academic_records[(indice)..(indice+1)*top-1], global_i: indice}
			- if !(i.eql? part)
				- 7.times do
					%br
			- else
				- aux = (rest < 30) ? (top-rest)-7 : 0
				- aux.times do
					%br
				= render 'signatures'

