
- total = @academic_records.count
- if total > 0
	- top = 32
	- total_pages = (total/top)
	- total_pages = 0 if total.eql? top
	- for i in 0..total_pages do
		- indice = i*top
		= render '/sections/acta_header'
		= render 'acta_title'
		= render 'acta_description'			
		= render partial: 'acta_academic_records', locals: {academic_records: @academic_records[indice..indice+(top-1)], global_i: indice}
		- if (i.eql? total_pages)
			= render 'signatures'
		- else
			.page-break

