- unless @section.qualified?
	.alert.alert-warning
		%b
			%i.fa.fa-alert
			Atención
		Debe completar las calificaciones para tener acceso al acta de la sección

.vh-100.d-flex.justify-content-center.mt-5
	.col-md-11
		= link_to teacher_session_dashboard_path, class: 'btn btn-sm btn-primary mx-3' do
			%i.fa.fa-chevron-left
			Regresar
		= render partial: "/sections/download_options", locals: {section: @section}
		= render partial: '/sections/desc_table', locals: {section: @section}
		-# @academic_records ||= @section.academic_records 
		%br
		.fixed-top.alert.text-center.text-small#message{role: :alert}
		=# render partial: 'academic_records/show', locals: {section: section}
		- if @section.qualified?
			- @academic_record = @section.academic_records
			= render template: 'academic_records/index'
		- else
			= form_for(@section) do |f|
				= render partial: 'academic_records/qualify', locals: {section: @section}
				= f.hidden_field :qualified, {value: true}
				= f.button :submit, class: 'float-end btn btn-success' do
					%i.fa.fa-check
					= 'Finalizar Calificación'