%p#notice= notice

%p
  %b Code:
  = @section.code
%p
  %b Capacity:
  = @section.capacity
%p
  %b Course:
  = @section.course.name
%p
  %b Teacher:
  = @section.teacher.description
%p
  %b Qualified:
  = @section.qualified
%p
  %b Modality:
  = @section.modality
%p
  %b Enabled:
  = @section.enabled

%h3 Estudiantes:

%table.table
  %thead
    %tr
      %th Estudiante
      %th Calificacion

  %tbody
    - @section.academic_records.each do |ar|
      %tr
        %td= ar.student.name
        %td= ar.final_q
