- if !@section.qualified? and @section.is_in_process_active?
	.alert.alert-warning
		%b
			%i.fa.fa-alert
			Atención
		Debe completar las calificaciones para tener acceso al acta de la sección

.vh-100.d-flex.justify-content-center.mt-5
	.col-md-11
		= link_to teacher_session_dashboard_path, class: 'btn btn-sm btn-primary mx-3' do
			%i.fa.fa-chevron-left
			Regresar
		= render partial: "/sections/download_options", locals: {section: @section}
		= render partial: '/sections/desc_table', locals: {section: @section}
		-# @academic_records ||= @section.academic_records 
		%br
		.fixed-top.alert.text-center.text-small#message{role: :alert}
		=# render partial: 'academic_records/show', locals: {section: section}


		- teacher_authorized_to_qualify = (logged_as_teacher? and current_user&.teacher&.id.eql? @section.teacher&.id)

		- if @section.is_in_process_active? and not @section.is_inrolling? and teacher_authorized_to_qualify and !@section.qualified?
			= form_for(@section) do |f|
				= render partial: 'academic_records/qualify', locals: {section: @section}
				= f.hidden_field :qualified, {value: true}
				= f.button :submit, class: 'float-end btn btn-success mb-3' do
					%i.fa.fa-check
					= 'Finalizar Calificación'

				%br
				%br
				%br
				%br
		- else
			= render partial: 'academic_records/list', locals: {academic_records: @section.academic_records, admin: false}