.py-1.align-items-center.justify-content-center.vh-lg-100
  = render 'layouts/main_banner'

.mt-3.alert.alert-info.text-center
  %h6.text-orange= 'Por Favor Selecione un rol:'
  - @roles.each do |rol|
    - if rol.eql? 'admin'
      - session[:rol] = 'admin'
      - redirect = rails_admin_path 
    - else
      - redirect = "/#{rol}_session/dashboard?rol=#{rol}"
    = link_to rol.camelize.constantize.model_name.human, redirect, class: 'btn btn-sm btn-warning mx-2'
  - if false 
    - exceptionsModels = ['sections_teachers', 'schema_migrations', 'ar_internal_metadata', 'active_storage_blobs', 'active_storage_attachments', 'active_storage_variant_records']
    - @models.each do |modelName| 
      - if !exceptionsModels.include? modelName
        %h5= modelName.capitalize.singularize.camelize.constantize.model_name.human