%h3.text-center.my-2 Historial Académico

- enroll_academic_processes.sort_by_period.each do |enroll_academic_process|
  
  %table.table-sm
    %thead
      %tr
        %th.text-center{style: 'width: 100px'} Período
        %th.text-center Estado Inscripción
        %th.text-center Estado de Permanencia
        %th.text-center Total inscripciones

    %tbody
      %tr
        %td.text-center= enroll_academic_process.academic_process.period.name
        %td.text-center
          .badge.bg-info= enroll_academic_process.enroll_status.titleize if enroll_academic_process.enroll_status
        %td.text-center
          .badge.bg-info= enroll_academic_process.permanence_status.titleize if enroll_academic_process.permanence_status
        %td.text-center= enroll_academic_process.academic_records.count

      %tr
        %td{style: 'padding: 10px', colspan: 4}
          = render partial: 'academic_records/index_to_history_kardex', locals: {academic_records: enroll_academic_process.academic_records}
  %br