- school = enroll_academic_process.school
- enabled_to_admin = current_user and current_user.admin? and session[:rol].eql? 'admin'
- if (school.active_process.eql? enroll_academic_process.academic_process or school.enroll_process.eql? enroll_academic_process.academic_records) and enroll_academic_process.confirmado?
  - disabled = false

  - msg = 'Generar Constancia de Inscripción'
  = button_to "/enroll_academic_processes/#{enroll_academic_process.id}.pdf", class: 'btn btn-success btn-sm', 'data-bs-toggle': :tooltip, 'data-bs-placement': :top, title: msg, rel: "tooltip", method: :get do
    .fa.fa-download
    .fa-solid.fa-graduation-cap

- elsif enabled_to_admin

  - msg = 'Atención: Para Generar la Constancia de Inscripción debe estar activo el proceso académico o la inscripción de éste período'

  .disableOption{'data-bs-toggle': :tooltip, 'data-bs-placement': :top, title: msg, rel: "tooltip"}
    = button_to nil, class: 'btn btn-secondary btn-sm', disabled: true do
      .fa.fa-download
      .fa-solid.fa-graduation-cap

- unless enroll_academic_process.confirmado?
  - msg = 'Confirmar Proceso de Inscripción'

  = form_tag "/enroll_academic_processes/#{enroll_academic_process.id}", method: :put do
    = hidden_field_tag '[enroll_academic_process]enroll_status', :confirmado
    = button_tag(class: 'btn btn-success btn-sm m-2', 'data-bs-toggle': :tooltip, 'data-bs-placement': :top, title: msg, rel: "tooltip", type: :submit) do
      .fa.fa-check    
