-# grade ||= @Grade.find params[:grade_id]
- @grade ||= grade 
- school = @grade.school
-# academic_process = school.enroll_process
- courses_offer = academic_process.courses.offers
- user = @grade.student.user

- study_plan = @grade.study_plan

- if current_user.student? and (session[:rol].eql? 'student')
  - if study_plan.por_nivel?
    - subjects_offer_by_level_approved = @grade.subjects_offer_by_level_approved
    - courses_offer = courses_offer.where(subject_id: subjects_offer_by_level_approved.ids)
  - elsif study_plan.por_dependencia?
    - subjects_offer_by_dependency = @grade.subjects_offer_by_dependent
    - courses_offer = courses_offer.where(subject_id: subjects_offer_by_dependency.ids)

- courses_offer = courses_offer.order_by_subject_code.uniq
- limitCredits = academic_process.max_credits
- limitSubjects = academic_process.max_subjects
- msgDanger = "<b>Atención:</b> </br> <ul><li>Seleccione la sección de las asignaturas que desea preinscribir.</li> <li>Puede usar el scroll para ver todas las asignaturas ofertadas o filtrarlas por el nombre o código de la asignatura.</li> <li>Finalmente haga clíc en 'Completar' para terminar su preinscripción.</li> </ul>"


- if current_user&.admin? and session[:rol].eql? 'admin'
  .bg-info.text-primary.p-3.text-center
    = link_to "/admin/student/#{@grade.student_id}", class: 'float-start btn btn-sm btn-primary align-middle', title: "Ir al detalle de #{user.nick_name}" do
      %i.fa-regular.fa-chevron-left
      Ir a Detalle

    - records_from_subjects_approved = @grade.academic_records_from_subjects_approved.order('subjects.ordinal, subjects.code')

    - if records_from_subjects_approved.any?
      %button.btn.btn-sm.btn-primary.float-start.mx-2{"data-bs-target": "#subjectsApproved", "data-bs-toggle": :modal, type: :button}
        %i.fa-regular.fa-list-check

        = "Asignaturas Aprobadas"

        - title1 = "Asignaturas Aprobadas #{user.reverse_name}"
        - title2 = "#{school.name}"
        - content = render partial: 'grades/subjects_approved', locals: {records: records_from_subjects_approved}

      = render partial: '/layouts/scaffold-modal-static', locals: {content: content, title1: title1, title2: title2, id: 'subjectsApproved'}
    - else
      %button.btn.btn-sm.btn-secondary.float-start.mx-2{disabled: true}
        %i.fa-regular.fa-list-check
        = "Sin Asignaturas Aprobadas"


    INSCRIPCIÓN
    %b= academic_process&.process_name
    de
    %b= @grade.student.name

  .alert.alert-warning.text-justify.fase.show.p-1{role: :alert}
    = msgDanger.html_safe

= form_tag('/enroll_academic_processes/enroll', id: "#{@grade.id}Form", class: 'form-horizontal', multipart: true) do
  = hidden_field_tag 'grade_id', @grade.id
  = hidden_field_tag 'academic_process_id', academic_process.id  
  .border.p-1{style: 'overflow-y:scroll;max-height:280px'}
    = render partial: 'enroll_academic_processes/courses_offer', locals: {courses: courses_offer, pcis: false}

    - pcis = academic_process.period.courses.joins(:school).where("schools.id != '?'", school.id).pcis.order_by_subject_code.uniq
    - if pcis.any?
      %hr
      = render partial: 'enroll_academic_processes/courses_offer', locals: {courses: pcis, pcis: true}

  = render partial: 'enroll_academic_processes/total_credits', locals: {limitCredits: limitCredits, limitSubjects: limitSubjects, totalCreditsReserved: totalCreditsReserved, totalSubjectsReserved: totalSubjectsReserved }

  =# render partial: 'schedules/index', locals: {schedules: academic_process.schedules}

  .modal-footer
    / %a.btn.btn-sm.btn-outline-light{data: {dismiss: 'modal'}} Cancelar
    - enableSubmit = (totalCreditsReserved > 0 and totalCreditsReserved <= limitCredits and totalSubjectsReserved > 0 and totalSubjectsReserved <= limitSubjects)

    - disabledClass = enableSubmit ? '' : 'disabled'
    .d-grid.gap-2
      = submit_tag 'Completar', class: "#{disabledClass} btn btn-success btn-lg", id: 'submitBtn', 'data-disable-with': 'Enviando', disabled: !enableSubmit, onclick: 'completeEnroll(this);'

:javascript

  // document.addEventListener("rails_admin.dom_ready", function() {
  //   $(".form-actions").remove();
  //   $(".col-sm-2.col-form-label.text-md-end").remove();
  //   $(".form-text").remove();
  //   $(".col-sm-10").toggleClass('col-sm-10', 'col-sm-8');
  // });

  function filterSections(ele, tableId){
    var keyword = ele.value;
    keyword = keyword.toUpperCase();
    var table_1 = document.getElementById(tableId);
    var all_tr = table_1.getElementsByTagName("tr");

    for(var i=0; i<all_tr.length; i++){
        var name_column = all_tr[i].getElementsByTagName("td")[1];
        if(name_column){
            var name_value = name_column.textContent || name_column.innerText;
            name_value = name_value.toUpperCase();
            if(name_value.indexOf(keyword) > -1){
                all_tr[i].style.display = ""; // show
            }else{
                all_tr[i].style.display = "none"; // hide
            }
        }
    }    

  }

  function reserve(url, el) {
    let elem = $(el);
    let opcion = elem.children("option:selected");
    $.ajax({
      url: url,
      type: 'POST',
      dataType: 'json',
      beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      },
      // beforeSend: function() {
      //   $('#loading').modal({keyboard: false, show: true, backdrop: 'static'})
      // },
      complete: function(json){
        if (json["responseJSON"].status == 'success'){
          toastr.success(json["responseJSON"].data);

          totalizar();
          let trParent = elem.closest('tr');
          if (opcion.val() == '')
            trParent.removeClass('table-success');
          else{
            let cantidad = opcion.text()
            trParent.addClass('table-success');
          }


        }else{
          toastr.error(json["responseJSON"].data);
          el.selectedIndex = 0;
        }
        opcion.text(json["responseJSON"].cupo);
      }
    });
  }



  function totalizar() {
    console.log('Totalizando...');
    let selecteds = $(".selectInscripcion option:selected");

    let totalCredSel = 0;
    let totalSubjSel = 0
    let totalCred = $('#totalNumberOfCredits');
    let totalSubj = $('#totalNumberOfSubjects');

    selecteds.each(function(){
      if ($(this).val() != ''){
        totalSubjSel += 1;
        totalCredSel += Number($(this).parent().attr('credits'));
      }
    });

    console.log("Total Créditos Seleccionados: "+totalCredSel);

    totalCred.text(totalCredSel);
    totalSubj.text(totalSubjSel);

    console.log("Total Créditos Set: "+totalCred.text());
    $('#total_credits').val(totalCred.text());
    $('#total_subjects').val(totalSubj.text());
    let limiteCreditos = Number(#{limitCredits})
    let limiteAsignaturas = Number(#{limitSubjects})
    let submitBtn = $('#submitBtn');

    let activo = ((totalSubjSel > 0) & (totalSubjSel <= limiteAsignaturas) & (totalCredSel <= limiteCreditos));
    let tr = totalCred.closest('tr');
    let tr2 = totalSubj.closest('tr');

    submitBtn.toggleClass('disabled', !activo);
    submitBtn.prop('disabled', !activo);

    tr.toggleClass('table-success', activo);
    tr.toggleClass('table-danger', !activo);
    tr2.toggleClass('table-success', activo);
    tr2.toggleClass('table-danger', !activo);
  }
  

  function selected(ele) {
    let elem = $(ele);
    let gradeId = elem.attr('gradeId');
    let pci = elem.attr('pci');
    let courseId = elem.attr('courseId');

    reserve(`/enroll_academic_processes/reserve_space?section_id=${ele.value}&course_id=${courseId}&grade_id=${gradeId}&pci=${pci}`, ele);    
  }

  function completeEnroll(ele){
    let elem = $(ele);
    let selected = '\n';
    let selecteds = $(".selectInscripcion option:selected");
    let msg;
    let total = 0;
    let selectedEle;
    selecteds.each(function(){
      selectedEle = $(this);
      if (selectedEle.val() != ''){
        total += 1;
        selected += '\n';
        selected += selectedEle.parent().attr('titulo');
      }
    });

    if (total == 0){
      event.preventDefault();
      alert('ATENCIÓN: DEBE SELECCIONAR AL MENOS UNA ASIGNATURA A INSCRIBIR');

    }else{
      msg = `${total} Asignaturas a preinscribir en el período académico #{academic_process&.process_name} de #{@grade.school.name}:`;
      msg += selected;
      msg += '\n';
      msg += '\n';
      msg += "RECUERDE QUE SU ELECCIÓN ES DEFINITIVA Y NO PODRÁ SER CAMBIADA. ¿Está seguro?" 
      if (window.confirm(msg) == false) {
        event.preventDefault();
      }
    }

  }

