- school = enroll_academic_process.school
- enabled_to_admin = (current_user&.admin? and session[:rol].eql? 'admin') ? true : false

- if enabled_to_admin and current_user&.admin&.authorized_manage? 'EnrollAcademicProcess'
  - if enroll_academic_process.academic_records.not_retirado.any?
    = link_to "/enroll_academic_processes/#{enroll_academic_process.id}/total_retire", class: 'btn btn-sm float-end btn-danger align-middle mx-1', 'data-confirm': "Esta acción retirará todas los registros académicos de la inscripción ¿Está completamente suguro?", method: :put, 'data-bs-toggle': :tooltip, 'data-bs-placement': :top, title: 'Retirar todas las asignaturas inscritas en éste período', rel: :tooltip do
      .fa.fa-calendar-minus
  
  - unless enroll_academic_process.confirmado?
    - msg = 'Confirmar Proceso de Inscripción'

    = form_tag "/enroll_academic_processes/#{enroll_academic_process.id}", method: :put do
      = hidden_field_tag '[enroll_academic_process]enroll_status', :confirmado
      = button_tag(class: 'btn btn-success btn-sm float-end mx-1 align-middle', 'data-bs-toggle': :tooltip, 'data-bs-placement': :top, title: msg, rel: :tooltip, type: :submit, 'data-confirm': '¿Confirmar Inscripción? Se enviará un correo de notificación al estudiante con el resumen de la inscripción') do
        .fa-solid.fa-graduation-cap
        .fa.fa-check

  = link_to "/admin/enroll_academic_process/#{enroll_academic_process.id}", class: "btn btn-sm float-end btn-warning", title: "Modificar Inscripción #{period.name}" do
    .fas.fa-info-circle

- if enabled_to_admin and (current_user&.admin&.authorized_delete? 'EnrollAcademicProcess')
  - if false #enroll_academic_process.academic_records.any?
    = link_to 'javascript:void(0)', class: 'btn btn-secondary btn-sm float-end mx-1 align-middle', disabled: true, 'data-bs-toggle': :tooltip, 'data-bs-placement': :top, title: 'Eliminar Inscripción. Para activar esta opción elimine primero todos los registros académicos del período', rel: :tooltip do
      .fa.fa-remove
  - else
    = link_to "/enroll_academic_processes/#{enroll_academic_process.id}", class: 'btn btn-sm float-end btn-danger mx-1 align-middle', 'data-confirm': "Esta acción eliminará todas los registros académicos de la inscripción ¿Está completamente suguro?", method: :delete, 'data-bs-toggle': :tooltip, 'data-bs-placement': :top, title: 'Eliminar inscripción en proceso académico', rel: :tooltip do
      .fa.fa-remove

- if (session[:rol].eql? 'student') or (enabled_to_admin and (current_user&.admin&.authorized_manage? 'AcademicRecord'))

  - if enroll_academic_process.confirmado? and (school.active_process.eql? enroll_academic_process.academic_process or school.enroll_process.eql? enroll_academic_process.academic_process)

    - if !enroll_academic_process.any_permanence_articulo?
      - msg = 'Generar Constancia de Estudio'
      = link_to "/enroll_academic_processes/#{enroll_academic_process.id}.pdf?study='true'", class: 'btn btn-info btn-sm float-end mx-1 align-middle', target: '_blank', rel: "noopener noreferrer", 'data-bs-toggle': :tooltip, 'data-bs-placement': :top, title: msg, rel: :tooltip do
        .fa.fa-download
        .fa-solid.fa-graduation-cap
        .fa-solid.fa-e

    - else 
      - msg = "No se puede generar la constancia de Estudio. Condición de permanencia: #{enroll_academic_process.permanence_status.titleize}"
      = link_to 'javascript:void(0)', class: 'btn btn-secondary btn-sm float-end align-middle', 'data-bs-toggle': :tooltip, 'data-bs-placement': :top, title: msg, rel: :tooltip do
        .fa.fa-download
        .fa-solid.fa-graduation-cap
        .fa-solid.fa-e


    - msg = 'Generar Constancia de Inscripción'

    = link_to "/enroll_academic_processes/#{enroll_academic_process.id}.pdf", class: 'btn btn-info btn-sm float-end mx-1 align-middle', target: '_blank', rel: "noopener noreferrer", 'data-bs-toggle': :tooltip, 'data-bs-placement': :top, title: msg, rel: :tooltip do
      .fa.fa-download
      .fa-solid.fa-graduation-cap
        .fa-solid.fa-i

  - elsif enabled_to_admin

    - msg = 'Constancia de Estudio. Debe estar activo el proceso académico o la inscripción de éste período'

    .disableOption
      = link_to 'javascript:void(0)', class: 'btn btn-secondary btn-sm float-end align-middle', 'data-bs-toggle': :tooltip, 'data-bs-placement': :top, title: msg, rel: :tooltip do
        .fa.fa-download
        .fa-solid.fa-graduation-cap
        .fa-solid.fa-e
