- academic_process = enroll_academic_process.academic_process
- period = academic_process.period
- academic_records = enroll_academic_process.academic_records
- school = enroll_academic_process.school

%table.table.table-sm
  %thead
    %tr
      %th.text-center Período
      %th.text-center Estado Inscripción
      %th.text-center Estado de Permanencia
      %th.text-center Total inscripciones
      %th.text-end{style: 'width:50%'} Opciones

  %tbody
    %tr
      %td.text-center{title: period.name}
        = render partial: '/schools/active_icons', locals: {enrolling: enrolling, active: active}
        = period.name
      %td.text-center
        = enroll_academic_process.label_status
      %td.text-center
        = enroll_academic_process.label_permanence_status
        - if current_user&.admin? and session[:rol].eql? 'admin' and current_user&.admin&.authorized_manage? 'EnrollAcademicProcess'
          %a{"data-bs-target": "#ChangePermanenceStatus", "data-bs-toggle": :modal, type: :button, onclick: "setValuesPermanenceStatus(#{enroll_academic_process.id}, '#{enroll_academic_process.permanence_status}');"}
            .fa.fa-pencil-alt
      %td.text-center= academic_records.count
      %td.text-center{style: 'width:50%'}
        = render partial: 'enroll_academic_processes/options', locals: {period: period, enroll_academic_process: enroll_academic_process, enabled_options: (enrolling or active)}

    %tr
      = render partial: 'academic_records/index_to_history', locals: {academic_records: academic_records, enabled_delete: false, enabled_change: active, enabled_retire: active}