%table.table.table-striped.table-sm.table-hover.table-bordered.responsive-table
  %thead
    %tr
      %th{style: 'width: 4%'} #
      %th{style: 'width: 56%'}
        Asignaturas
        %span.badge.badge-dark= asignaturas.count
      %th{style: 'width: 5%'} Año
      %th{style: 'width: 5%'} Créd
      %th{style: 'width: 30%'} Sección
  %tbody
    - asignaturas.each_with_index do |asig, i|
      - value = @inscripciones.joins(:asignatura).joins(:seccion).where("asignaturas.id = '#{asig.id}' AND secciones.periodo_id = '#{@periodo_inscripcion.id}'").first
      - value = value ? value.seccion_id : nil
      - if @aprobadas.include? asig.id
        - aprobada = true
        - indice = @aprobadas.index asig.id
        - if (indice != nil and indice > 0)
          - inscrip = Inscripcionseccion.find @aprobadas[indice-1]
          - descrip_califi = inscrip.colocar_nota_final
      - else
        - descrip_califi = nil
        - aprobada = false

      - reservada = !value.nil? ? 'table-info' : ''
      - asigAprobada = aprobada ? 'text-muted border border-success' : ''
      %tr{class: "#{asigAprobada} #{reservada}"}
        %td.align-middle.text-right= i+1
        %td.align-middle
          - if pcis
            = asig.descripcion_id_con_escuela
          - else
            = asig.descripcion_id
          - if aprobada
            %span.badge.badge-success= "Aprobada (#{descrip_califi})"

        %td.align-middle.text-center= asig.anno
        %td.align-middle.text-center= asig.creditos
        %td.align-middle.pl-3
          -unless aprobada
            - secciones = asig.secciones.del_periodo(@periodo_inscripcion.id)#.con_cupos
            - if secciones.any?
              - secciones = secciones.select{|s| s.hay_cupos? or s.estudiante_inscrito? @estudiante.id }

              - if secciones.any?
                = collection_select("secciones", nil, secciones, :id, :descripcion_con_cupos, {selected: value, include_blank: 'Seleccione'}, {class: "form-control selectInscripcion", style: 'width: 90%', titulo: asig.desc_confirm_inscripcion, creditos: asig.creditos, asigId: asig.id, estudianteId: @estudiante.id, pci: pcis, gradoId: @grado.id})
              - else
                %b.pl-3.text-muted
                  = collection_select(nil, nil, secciones, nil, nil, { prompt: 'Sin Cupos'}, {class: "form-control selectInscripcion", style: 'width: 90%', disabled: true, readonly: true})

            - else
              %b.pl-3.text-muted
                = collection_select(nil, nil, secciones, nil, nil, { prompt: 'Sin Secciones'}, {class: "form-control selectInscripcion", style: 'width: 90%', disabled: true, readonly: true})
