#watermark_bg_constance
  //%meta(style="position: absolute; width: auto; height: auto; opacity: 0.5;")
  //= wicked_pdf_image_tag 'bg_validation.png'

  = render partial: 'layouts/banner_pdf', locals: {title: @title, school: @school, user: @user}

  %br
  %p.text-justify

    - if @study_contance
      - total = @enroll_academic_process.total_subjects
      = "Quien suscribe, Jefe de Control de Estudios de la #{@faculty.name.upcase}, de la Universidad Central de Venezuela, por medio de la presente hace constar que #{@user.la_el} BR. <b>#{@user.reverse_name}</b>, titular de la Cédula de Identidad <b>#{@user.ci}</b> es estudiante regular de la  <b>#{@school.name.upcase}</b> y está cursando en el periodo <b>#{@period.name}</b> #{'la'.pluralize(total)} #{'siguiente'.pluralize(total)} #{'asignatura'.pluralize(total)}:".html_safe
    - else
      = "Quien suscribe, Jefe de Control de Estudios de la #{@faculty.name.upcase}, de la Universidad Central de Venezuela, por medio de la presente hace constar que #{@user.la_el} BR. <b>#{@user.reverse_name}</b>, titular de la Cédula de Identidad <b>#{@user.ci}</b> está inscrit#{@user.genero} en la  <b>#{@school.name.upcase}</b> para el período <b>#{@period.name}</b> con las siguientes asignaturas:".html_safe
  %br
  %br
  %table.table.table-sm.table-bordered
    %thead
      %tr
        %th Código
        %th Asignatura
        %th Sección
        %th Créditos
        / %th Estado

    %tbody
      - @academic_records.each do |acre|
        %tr
          %td.text-center= acre.subject.code
          %td= acre.subject_name_with_retiro.html_safe
          %td.text-center= acre.section.code
          %td.text-center= acre.subject.unit_credits
          / %td.text-center=# acre.status.titleize


  %br
  %br


  %table.table
    %tbody
      %tr
        %td Total Créditos Inscritos:
        %td= @enroll_academic_process.total_credits
  %br

  %p.text-justify= "Constancia que se expide a solicitud de la parte interesada en la Ciudad Universitaria en Caracas, el día #{I18n.l(Time.now, format: "%d de %B de %Y")}.".html_safe

  - unless @school&.code.eql? 'EACRV'

    - enlace = "https://coesfau.com/validar/#{@version.id}/constancias?object_id=#{@enroll_academic_process.id}"
    - enlace +="&study=true" if @study_contance.eql? true

    - imagen_qr = CodigoQr.generate_image enlace
    - #pdf.image imagen_qr, width: 120, at: [10, (pdf.y)+40]

    .text-center= image_tag imagen_qr

    .alert-message.text-justify
      %p= "<b>ATENCIÓN:</b> Para verificar la autenticidad del presente documento escanee el código QR, haga clic en la siguiente dirección o escríbala en su navegador web:".html_safe
      %p= enlace

  %br
  %br
  %br
  %br
  .text-center= @school.boss_name
  .text-center= "Jefe(a) de Control de Estudio"

  - if @school&.code.eql? 'EACRV'
    %br
    %br
    %h4.text-center 
      %b ATENCIÓN: 
      Esta constancia será válida sólo si tiene la firma y el sello húmedo de Control de Estudios