.border.border-info
  %h4
    .text-center.bg-info.py-2 Historial Académico

  #accordionFlush.accordion.accordion-flush
    - @grade.enroll_academic_processes.sort_by_period.each do |enroll_academic_process|
      - school = enroll_academic_process.school
      - academic_process = enroll_academic_process.academic_process
      - enrolling_process = (school&.enroll_process.eql? academic_process)
      - active_process = (school&.active_process.eql? academic_process)
      .accordion-item
        %h2.accordion-header{id: "flush-heading#{enroll_academic_process.id}"}
          %button.accordion-button.collapsed{"aria-controls" => "flush-collapse#{enroll_academic_process.id}", "aria-expanded" => "false", "data-bs-target" => "#flush-collapse#{enroll_academic_process.id}", "data-bs-toggle" => "collapse", :type => "button"}

            .mr-3
              = render partial: '/schools/active_icons', locals: {enrolling_process: enrolling_process, active_process: active_process}
            
              %b= "Periodo #{enroll_academic_process.acedemic_process.process_name}"
        .accordion-collapse.collapse{id: "flush-collapse#{enroll_academic_process.id}", "aria-labelledby" => "flush-heading#{enroll_academic_process.id}"}
          .accordion-body
            = render partial: 'enroll_academic_processes/show', locals: {enroll_academic_process: enroll_academic_process, enrolling_process: enrolling_process, active_process: active_process}
