%h1 Listing enroll_academic_processes

%table
  %thead
    %tr
      %th Grade
      %th Academic process
      %th Enroll status
      %th Permanence state
      %th
      %th
      %th

  %tbody
    - @enroll_academic_processes.each do |enroll_academic_process|
      %tr
        %td= enroll_academic_process.grade
        %td= enroll_academic_process.academic_process
        %td= enroll_academic_process.enroll_status
        %td= enroll_academic_process.permanence_status
        %td= link_to 'Show', enroll_academic_process
        %td= link_to 'Edit', edit_enroll_academic_process_path(enroll_academic_process)
        %td= link_to 'Destroy', enroll_academic_process, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Enroll academic process', new_enroll_academic_process_path
