-# Parcial para mostrar el historial est치ndar de entidades que no son Student
-# Incluye informaci칩n b치sica del registro y su historial de cambios
- if versions.any?
  .table-responsive
    %table.table.table-striped.table-hover.align-middle.border{style: "white-space: nowrap;overflow-x: scroll;"}
      %thead
        %tr
          %th #
          %th Id
          %th Fecha
          %th Objeto
          %th Acci칩n
          %th{style: "overflow-x: scroll;"} Detalle
      %tbody
        - versions.reorder(created_at: :desc).each_with_index do |version, index|
          %tr
            %td
              %small.text-muted= index+1
            %td
              %small.text-muted= version.id            
            %td
              %small.text-muted= version.created_at.strftime('%d/%m/%Y %H:%M:%S')
            %td
              %small.text-muted= I18n.t("activerecord.models.#{version.item_type.underscore}.one")
            %td{style: "overflow-x: scroll;"}
              %p.small
                -# icon = version.respond_to?(:fa_icon) ? version.fa_icon(@object) : 'fa fa-info-circle text-info'
                %i{ class: version.fa_icon(@object)}
                - if version.event&.eql? 'destroy'
                  = 'Eliminado'
                - else
                  = version.event
            %td{style: "overflow-x: scroll;width: 40%"}
              %p.small
                = version.version_desc.html_safe
- else
  .alert.alert-info.text-center
    %i.fa.fa-info-circle.me-2
    No hay historial disponible
