- if versions.any?
    .table-responsive{style: "overflow-x: scroll;"}
        %table.table.table-striped.table-hover.align-middle{style: "white-space: nowrap;overflow-x: scroll;"}
            %thead
                %tr
                    %th #
                    %th Fecha
                    %th Modelo
                    %th Usuario
                    %th Acción
                    %th Detalle
            %tbody
                - versions.each_with_index do |version, i|
                    %tr
                        %td
                            %small.text-muted= i
                        %td
                            %small.text-muted= version.created_at.strftime('%d/%m/%Y %H:%M:%S')
                        %td
                            %small= t("activerecord.models.#{version.item_type.underscore}.one", default: version.item_type)
                        %td
                            - if version.whodunnit.present?
                                - user = User.find_by(id: version.whodunnit)
                                - if user
                                    = render partial: 'rails_admin/main/history/versions_user_card', locals: { user: user }
                                - else
                                    .text-muted.small Sistema: #{version.whodunnit}
                            - else
                                - if version.item_type.eql? 'User'
                                    - user = user_default
                                    = render partial: 'rails_admin/main/history/versions_user_card', locals: { user: user }
                                - else
                                    .text-muted.small Sistema
                        %td
                            %i{class: "#{version.fa_icon(@object)}"}
                            %span.ms-1
                                - if version.event.present?
                                    = version.event
                                - else
                                    Acción
                        %td{style: "overflow-x: scroll;"}
                            %p.small= version.version_desc
- else
    .alert.alert-info.text-center
        %i.fa.fa-info-circle.me-2
        No hay historial disponible
