
%table.table.table-hover.border
  %thead
    %tr
      %th Cátedra
      %th.col-1 T. Asig
      %th.col-1 T. Sec
      %th.col-1 T. Insc 


  %tbody
    - areas.each do |area|
      %tr
        %td= link_to area.name, "/admin/area/#{area.id}"
        %td= area.subjects.count
        %td= area.sections.count
        %td= area.academic_records.count
    - if false #departament
      %tfoot
        %tr
          %td
          %td= departament.subjects.count
          %td= departament.sections.count
          %td= departament.academic_records.count