.card
  - subjects = @area.subjects.order(code: :asc)
  .card-header.text-sm.text-center= "#{@area.name} (#{subjects.count})"
  .card-body
    %table.table.table-hover.table-striped.table-sm{style: 'font-size:12px;'}
      %thead
        - subjects.each do |asig|
          %tr.trFiltrable
            %th
              = ApplicationController.helpers.subject_full_description_badges(asig).html_safe
              - dependencies = asig.prelate_links.joins(:prelate_subject).where('subjects.id != ?', asig.id).order('subjects.ordinal': :desc)
              - if dependencies.any?
                - id = "asig#{asig.id}"
                .collapse.collapsable{id: id}
                  = render partial: '/subject_links/tree', locals: {subject_links: dependencies, adelante: false}
                = link_to "##{id}", 'aria-controls': "##{id}", 'aria-expanded': false, "data-bs-toggle": :collapse, onclick: "$(this).find('i').toggleClass('fa-rotate-90');" do
                  %i.fa.fa-chevron-right.text-success
