%br
%br
.overflow-scroll
  %table.table.table-striped.table-sm.table-hover.table-bordered.table-responsive.tableDataMia
    %thead
      %tr
        %th.text-center= "Estado Insc #{academic_process.process_name}"
        %th.text-center Sede
        %th Cédula
        %th.col-4{width: '350px'} Apellidos, Nombres
        %th.col-4.text-center Desde
        %th.col-4.text-center Hasta
        %th.text-center.align-middle Est. Permanencia
        %th.text-center{width: '50px'}= "Eficiencia #{academic_process.process_before.process_name if day.by_before_process}"
        %th.col-1.text-center= "Promedio #{academic_process.process_before.process_name if day.by_before_process}" 
        %th.col-1.text-center= "Ponderado #{academic_process.process_before.process_name if day.by_before_process}" 
    %tbody
      - grades.each do |grade, i|
        - student = grade.student
        - reverse_name = student.user.reverse_name
        - if day.by_before_process
          - obj = grade.enroll_academic_processes.joins(:period).order(['periods.year': :desc, 'periods.period_type_id': :desc]).first
        - else
          - obj = grade
        %tr
          %td.text-center= grade.label_status_enroll_academic_process(academic_process.id)
          %td= student.sede 
          %td= student.user_ci
          %td{'data-bs-toggle': :tooltip, title: reverse_name}= link_to reverse_name, "/admin/student/#{grade.student_id}", target: '_black'
          %td.text-center= grade.appointment_from 
          %td.text-center= grade.appointment_to
          %td.text-center.align-middle= grade.label_permanence_status
          %td= obj.efficiency
          %td= obj.simple_average
          %td= obj.weighted_average
