%table.table.table-striped.table-sm.table-hover.table-bordered.responsive-table.tableDataMia
  %thead
    %tr
      %th.text-center= "Estado Insc #{academic_process.period.name}"
      %th Cédula
      %th.col-4{width: '300px'} Apellidos, Nombres
      %th.col-4.text-center Desde
      %th.col-4.text-center Hasta
      %th.col-1 Eficiencia
      %th.col-1 Promedio
      %th.col-1 Ponderado
  %tbody
    - grades.each do |grade, i|
      %tr
        %td.text-center= grade.label_status_enroll_academic_process(academic_process.id)
        %td= grade.student.user_ci
        %td= link_to grade.user.reverse_name, "/admin/student/#{grade.student_id}", target: '_black'
        %td.text-center= grade.appointment_from 
        %td.text-center= grade.appointment_to
        %td= grade.efficiency
        %td= grade.simple_average
        %td= grade.weighted_average

