-# frozen_string_literal: true
= simple_form_for(@subject) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :code
    = f.input :name
    = f.input :active
    = f.input :unit_credits
    = f.input :ordinal
    = f.input :qualification_type, collection: Subject.qualification_types.keys, as: :radio_buttons
    = f.input :modality, collection: Subject.modalities.keys, as: :radio_buttons
    = f.association :area

  .form-actions
    = f.button :submit
