%h1= @subjects.model_name.human.pluralize

%table.table
  %thead
    %tr
      %th= @subjects.human_attribute_name(:code)
      %th= @subjects.human_attribute_name(:name)
      %th= @subjects.human_attribute_name(:active)
      %th= @subjects.human_attribute_name(:unit_credits)
      %th= @subjects.human_attribute_name(:ordinal)
      %th= @subjects.human_attribute_name(:qualification_type)
      %th= @subjects.human_attribute_name(:modality)
      %th= @subjects.human_attribute_name(:area)
      %th
      %th
      %th

  %tbody
    - @subjects.each do |subject|
      %tr
        %td= subject.code
        %td= subject.name
        %td= subject.active
        %td= subject.unit_credits
        %td= subject.ordinal
        %td= subject.qualification_type
        %td= subject.modality
        %td= subject.area.name
        %td= link_to 'Show', subject
        %td= link_to 'Edit', edit_subject_path(subject)
        %td= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Subject', new_subject_path
