- headers = ['#','Sección', 'Asignatura', 'Periodo', 'Inscritos', 'Opciones']

%table.table.table-striped.table-hover.border.table-bordered.table-sm.table-responsive
    %thead.table-light
    %tr
        - headers.each do |head|
            %th= head.titleize
    %tbody.table-group-divider
    - sections.each_with_index do |sec,i|
        %tr
            %td= i+1
            %td= sec.code
            %td= sec.subject.name
            %td= sec.academic_process&.process_name
            %td= sec.label_numbery_total
            %td
                - if teacher_session
                    - if !sec.qualified? and sec.is_in_process_active?
                        = link_to section_path(sec), class: 'btn btn-sm btn-success' do
                            .fa.fa-list-check
                            Ir al detalle y calificar
                    - else
                        = link_to section_path(sec), class: 'btn btn-sm btn-primary' do
                            .fa.fa-search
                            Ir al detalle
