%h4.bg-primary.text-light.text-center= "Cita Horaria #{@object.short_desc}"
- if (current_user&.admin&.authorized_read? 'AcademicProcess')
  - if EnrollmentDay.any?
    = link_to "/enrollment_days/#{-1}/destroy_all", class: 'btn btn-danger mx-2 float-end', title: 'Eliminar todas las citas horarias', data: {confirm: 'Esta acción eliminará todas las citas horarias registradas en COES ¿Está completamente seguro?'} do
      %i.fa-regular.fa-broom
      Limpiar Citas

  - if @object.process_before
    .alert.alert-danger
      %b Atención
      Si está planificando una nueva jornada de inscripción por Cita Horaria, es importante que corra la función 'Actualizar Estados Estudiantes' indicada con el enlace abajo para que COES actualice tanto el estado de permanecia como los valores de eficiencia y promedios de cada estudiante antes de agregar la nueva cita. 
      .text-center
        = link_to "/academic_processes/#{@object.process_before.id}/run_regulation?id_return=#{@object.id}", class: 'btn m-3 btn-lg btn-primary', title: "Actualiza tanto el estado de permanecia como la eficiencia y los promedios de los estudiantes basado en los períodos anteriores al actual #{@object.period_name}. Incluye eliminación de Citas", data: {confirm: "Esta acción actualizará el estado de permanencia y los promedios de notas de cada estudiante que cursó materias en el periodo anterior #{@object.process_before.period_name} ¿Está completamente seguro?"} do
          %i.fa-regular.fa-refresh
          Actualizar Estados Estudiantes

    - enrollment_days = @object.enrollment_days
    - grades_without_appointment = @object.readys_to_enrollment_day

    = render partial: "/enrollment_days/index", locals: {enrollment_days: enrollment_days, grades_without_appointment: grades_without_appointment, academic_process: @object}

  - else
    .alert.alert-warning= 'Sin proceso academico anterio vinculado. Para habilitar el sistema de Cita Horaria en este proceso académico, por favor edítelo y agregue un proceso anteriór. También es importante limpiar toda cita horaria anterior'
- else
  .text-center.alert.alert-warning Acceso Restringido
