%h4.bg-primary.text-light.text-center.mb-4
  .btn.bg-success.text-dark{title: 'Total Secciones'}
    = @object.sections.count
  = "Programación #{@object.short_desc}"



- if (current_user&.admin&.authorized_manage? 'Course')

  - content = render("/academic_processes/form_section", return_id: @object.id)

  = render partial: 'layouts/scaffold-modal', locals: {id: "NewSectionModal", title: "Nueva Sección", content: content}

- if (current_user&.admin&.authorized_read? 'Course')
  = render(partial: "/academic_processes/programation", locals: {academic_process: @object})
- else
  .text-center.alert.alert-warning Acceso Restringido
