
- if params[:area_id]
    .form-control= Area.find(params[:area_id]).name
    = hidden_field 'subject', 'area_id', value: params[:area_id]
- elsif params[:school_id]
    - school = School.find params[:school_id]
    - areas = school.areas.uniq
    - if areas.any?
        = collection_select 'subject', 'area_id', areas, :id, :name_with_school, {include_blank: 'Seleccione...'}, {class: 'input-group form-control required', required: true}
    - else
        .alert.alert-danger 
            Antes de agregar asignaturas debe agregar las Cátedras
            = link_to 'Agregar Nueva Cátedra', '/admin/area/new', class: 'btn btn-sm btn-success' 
- else
    = grouped_collection_select :subject, :area_id, School.all, :areas_sort, :name, :id, :name, {prompt: "Seleccione Cátedra...", selected: @object&.area_id}, { class: "form-control", required: true}
