
- if params[:area_id]
    .form-control= Area.find(params[:area_id]).name
    = hidden_field 'subject', 'area_id', value: params[:school_id]
- elsif params[:school_id]
    - school = School.find params[:school_id]
    - areas = school.areas.uniq
    - if areas.any?
        =# select "subject", "area", areas, required: true
        = collection_select 'subject', 'area_id', areas, :id, :full_description, {include_blank: 'Seleccione...'}, {class: 'input-group form-control required', required: true}

    - else
        .alert.alert-danger 
            Antes de agregar asignaturas debe agregar las Cátedras
            = link_to 'Agregar Nueva Cátedra', '/admin/area/new', class: 'btn btn-sm btn-success' 
- else
    - departamentos = Departament.all
    = grouped_collection_select :subject, :area_id, departamentos, :areas, :full_description, :id, :name, {prompt: "Seleccione Cátedra..."}, { class: "form-control"}
