
- if params[:area_id]
    .form-control= Area.find(params[:area_id]).name
    = hidden_field 'subject', 'area_id', value: params[:area_id]
- elsif params[:school_id]
    - school = School.find params[:school_id]
    - areas = school.areas.uniq
    - departaments = school.departaments
    - if departaments.any? and areas.any?
        =# select "subject", "area", areas, required: true
        = grouped_collection_select :subject, :area_id, departaments, :areas, :name, :id, :name, {prompt: "Seleccione C치tedra..."}, { class: "form-control", disabled: true, readonly: true, required: false}
        =# collection_select 'subject', 'area_id', areas, :id, :full_description, {include_blank: 'Seleccione...'}, {class: 'input-group form-control required', required: true}

    - else
        .alert.alert-danger 
            Antes de agregar asignaturas debe agregar las C치tedras
            = link_to 'Agregar Nueva C치tedra', '/admin/area/new', class: 'btn btn-sm btn-success' 
- else
    - departaments = Departament.all
    = grouped_collection_select :subject, :area_id, departaments, :areas, :name, :id, :name, {prompt: "Seleccione C치tedra..."}, { class: "form-control", disabled: true, readonly: true, required: false}
