.row

    .col-6
        .card{style: "width: 18rem;"}
            - school_name = school.name
            .card-header.text-sm.text-center= school_name
            .card-body.text-center
                - if @last_academic_process = school.academic_processes.first
                    %h5.card-title.title.bg-info= "Procesos Académicos"
                    .card-title.title= link_to @last_academic_process.process_name, "/admin/last_academic_process/#{@last_academic_process.id}" 
                    - year = @last_academic_process.period&.year
                    - href = "/admin/enroll_academic_process?f%5Bacademic_process%5D%5B06995%5D%5Bo%5D=like&f%5Bacademic_process%5D%5B06995%5D%5Bv%5D=#{year}&f%5Bschool%5D%5B05796%5D%5Bo%5D=like&f%5Bschool%5D%5B05796%5D%5Bv%5D=#{school_name}&model_name=enroll_academic_process&sort=weighted_average&sort_reverse=true"
                    = ApplicationController.helpers.label_link_with_tooltip(href, 'bg-info me-1', "<i class='fa fa-star'></i>", "Mérito Académico #{year}")
                    .card-subtitle.mb-2.text-muted.border-bottom Último Registrado
                    
                    .card-title= school.show_process_actives
                    .card-subtitle.mb-2.text-muted.border-bottom Activos
                    .card-title= school.show_process_enrolls
                    .card-subtitle.mb-2.text-muted.border-bottom de Inscripción
                    - if last_ap = school&.academic_processes.first
                        - linked = (current_user&.admin&.authorized_read? 'EnrollAcademicProcess')
                        .card-title= last_ap&.label_total_enrolls_by_status(linked).html_safe
                        .card-subtitle.mb-2.text-muted= "Última Inscripción (#{last_ap&.process_name})"

    .col-6
        %table.float-end
            %tbody
                %tr
                    %td
                        = link_to 'Procesos Académicos', "/admin/academic_process?f%5Bschool%5D%5B84194%5D%5Bo%5D=like&f%5Bschool%5D%5B84194%5D%5Bv%5D=#{school.name}&query=", class: 'btn btn-info btn-sm float-end mb-2'
                        = link_to 'Nuevo Proceso Académico', "/admin/academic_process/new?school_id=#{school.id}", class: 'btn btn-success btn-sm float-end mb-2 me-2'
                %tr
                    %td
                        =# link_to 'Asignaturas', "/admin/academic_process?f%5Bschool%5D%5B84194%5D%5Bo%5D=like&f%5Bschool%5D%5B84194%5D%5Bv%5D=#{school.name}&query=", class: 'btn btn-info btn-sm float-end mb-2'
                        = link_to 'Asignaturas', "/admin/subject?f%5Bschool%5D%5B45550%5D%5Bo%5D=like&f%5Bschool%5D%5B45550%5D%5Bv%5D=#{school.name}", class: 'btn btn-info btn-sm float-end mb-2'
                        = link_to 'Nueva Asignatura', "/admin/subject/new?school_id=#{school.id}", class: "btn btn-success btn-sm float-end mb-2 me-2"
                %tr
                    %td
                        = link_to 'Profesores', "/admin/teacher?f%5Bschool%5D%5B45550%5D%5Bo%5D=like&f%5Bschool%5D%5B45550%5D%5Bv%5D=#{school.name}", class: 'btn btn-info btn-sm float-end mb-2'
                        = link_to 'Nuevo Profesor', "/admin/teacher/new?school_id=#{school.id}", class: "btn btn-success btn-sm float-end me-2"
    


