-# frozen_string_literal: true
= simple_form_for(@school) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :enable_subject_retreat
    = f.input :enable_change_course
    = f.input :enable_dependents
    = f.association :period_active#, hint: 'Ayuda'
    = f.association :period_enroll, prompt: "Seleccione Periodo"

  .form-actions
    = f.button :submit, class: 'btn-primary'
