-# frozen_string_literal: true
= simple_form_for(@school) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :code
    = f.input :name
    = f.input :type_entity, collection: School.type_entities.keys, as: :radio_buttons, checked: true
    = f.association :faculty
    = f.input :enable_subject_retreat
    = f.input :enable_change_course
    = f.input :enable_dependents

  .form-actions
    = f.button :submit, class: 'btn-primary'
