%h1 Listing schools

%table
  %thead
    %tr
      %th Code
      %th Name
      %th Enable subject retreat
      %th Enable change course
      %th Enable dependents
      %th
      %th
      %th

  %tbody
    - @schools.each do |school|
      %tr
        %td= school.code
        %td= school.name
        %td= school.enable_subject_retreat
        %td= school.enable_change_course
        %td= school.enable_dependents
        %td= link_to 'Show', school
        %td= link_to 'Edit', edit_school_path(school)
        %td= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New School', new_school_path
