%p#notice= notice

%p
  %b Academic process:
  = @course.academic_process
%p
  %b Subject:
  = @course.subject
%p
  %b Offer as pci:
  = @course.offer_as_pci

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
