%h1 Listing study_plans

%table
  %thead
    %tr
      %th Code
      %th Name
      %th School
      %th
      %th
      %th

  %tbody
    - @study_plans.each do |study_plan|
      %tr
        %td= study_plan.code
        %td= study_plan.name
        %td= study_plan.school
        %td= link_to 'Show', study_plan
        %td= link_to 'Edit', edit_study_plan_path(study_plan)
        %td= link_to 'Destroy', study_plan, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Study plan', new_study_plan_path
