%p#notice= notice

%p
  %b Code:
  = @study_plan.code
%p
  %b Name:
  = @study_plan.name
%p
  %b Name:
  = @study_plan.required_credits
%p
  %b School:
  = @study_plan.school

= link_to 'Edit', edit_study_plan_path(@study_plan)
\|
= link_to 'Back', study_plans_path
