%h1.text-center.bg-success.text-light Validador de Documentos

.border.border-warning.p-3.text-justify= "Mediante la presente página validamos que para #{@item.user.la_el} estudiante <b>#{@item.user.reverse_name}</b>, ci: <b>#{@item.user.ci}</b>, #{@version.event} del período <b>#{@item.academic_process&.name}</b> el día #{I18n.l(@version.created_at, format: '%d de %B de %Y')}.".html_safe

.alert.alert-danger.mt-3
    Si hubiera una discrepancia entre el documento generado y la información de esta vista. Por favor, contacte al personal administrativo de COES para validar la información