
.vh-100.d-flex.justify-content-center
  - headers = ['#','Sección', 'Asignatura', 'Periodo', 'Inscritos', 'Opciones']
  .col-md-11
    = render 'layouts/main_banner'
    %h4.text-center.text-primary.mb-3 Secciones Asignadas 
    %table.table.table-striped.table-hover.border.table-bordered.table-sm.table-responsive
      %thead.table-light
        %tr
          - headers.each do |head|
            %th= head.titleize
      %tbody.table-group-divider
        - current_teacher.sections.sort_by_period_reverse.each_with_index do |sec,i|
          %tr
            %td= i+1
            %td= sec.code
            %td= sec.subject.name
            %td= sec.period.name
            %td= sec.academic_records.count
            %td
              - if !sec.qualified? and sec.is_in_process_active?
                = link_to section_path(sec), class: 'btn btn-sm btn-success' do
                  .fa.fa-list-check
                  Ir al detalle y calificar
              - else
                = link_to section_path(sec), class: 'btn btn-sm btn-primary' do
                  .fa.fa-search
                  Ir al detalle
