- model_class = Billboard

/= btn_add_success new_billboard_path, 'Agregar Nueva Cartelera', 'Nueva'
%table.table.table-striped.mt-3
  %thead
    %tr
      %th= model_class.human_attribute_name(:content)
      %th= model_class.human_attribute_name(:active)
      %th=t '.actions', default: t("helpers.actions")
        
  %tbody
    - @billboards.each do |billboard|
      %tr
        %td= raw billboard.content
        %td= agregar_onoffswitch 'habilitar', billboard.id, set_active_billboard_path(billboard), billboard.active

        %td
          = link_to edit_billboard_path(billboard), class: 'btn btn-sm', title: "#{ t('.edit', default: t('helpers.links.edit')) }" do
            = glyph 'pencil'
          = link_to billboard_path(billboard), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-sm', title: "#{ t('.destroy', default: t('helpers.links.destroy')) }" do
            .text-danger= glyph 'trash'

