%h1 Listing locations

%table
  %thead
    %tr
      %th Student
      %th State
      %th Municipality
      %th City
      %th Sector
      %th Street
      %th House type
      %th House name
      %th
      %th
      %th

  %tbody
    - @locations.each do |location|
      %tr
        %td= location.student
        %td= location.state
        %td= location.municipality
        %td= location.city
        %td= location.sector
        %td= location.street
        %td= location.house_type
        %td= location.house_name
        %td= link_to 'Show', location
        %td= link_to 'Edit', edit_location_path(location)
        %td= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Location', new_location_path
