#imageMain.text-center
  .image_profile
    - if image = user.profile_picture_as_thumb
      = render partial: "layouts/set_image", locals: {image: image, size: '60x70', alt: "foto perfil #{user.nick_name}"}
  %p{style: 'margin-bottom: 0 !important;'} UNIVERSIDAD CENTRAL DE VENEZUELA
  %p{style: 'margin-bottom: 0 !important;'}= "CONTROL DE ESTUDIO #{school.type_entity.upcase}"
  %p.font-sm{style: 'margin-bottom: 0 !important;'}= school.name.upcase
  %h2= title

