!!!
%html{ lang: "#{I18n.locale}"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Coes - Bienvenido
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "fontawesome", "data-turbo-track": "reload"
    =# stylesheet_link_tag "style", "data-turbo-track": "reload", id: 'style-switch'
    = stylesheet_link_tag "style-dark", "data-turbo-track": "reload", id: 'style-switch'
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = favicon_link_tag 'ico_logo.png'

  %body
    %main
      %section.p-0.d-flex.align-items-center.position-relative.overflow-hidden
        .container-fluid
          .row
            / left

            .col-lg-9.align-items-center.justify-content-center.bg-primary.bg-opacity-10.vh-lg-100
              .p-3.p-lg-5
                / Title
                = render partial: 'layouts/main_banner', locals: {bg_color: ' '}

              - @billboards = Billboard.activas
              - if @billboards.any?
                = render partial: 'layouts/carousel', locals: {billboards: @billboards}

            / Right
            .col-lg-3.m-auto.px-5
              = render "shared/flashes"

              = yield

              / Row END
          / Row END
      / **************** MAIN CONTENT END ****************
      / Back to top
      .back-top
      %i.bi.bi-arrow-up-short.position-absolute.top-50.start-50.translate-middle
