!!!
%html{ lang: "#{I18n.locale}"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Coes - Bienvenido
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "fontawesome", "data-turbo-track": "reload"
    =# stylesheet_link_tag "style", "data-turbo-track": "reload", id: 'style-switch'
    = stylesheet_link_tag "style-dark", "data-turbo-track": "reload", id: 'style-switch'
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = favicon_link_tag 'logo_coes_simple.png'

  %body
    %main
      %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top.navbar-text.justify-content-end
        %button.btn.btn-warning.me-3.mx-1.rounded-0{"aria-controls" => "offcanvasEnd", "data-bs-target" => "#offcanvasEnd", "data-bs-toggle" => "offcanvas", type: "button"} Inicio de Seción
      #offcanvasEnd.offcanvas.offcanvas-end{"aria-labelledby" => "offcanvasEndLabel", tabindex: "-1"}
        .offcanvas-header
          %h5#offcanvasEndLabel
            .input-group-prepend
              %span.mb-0.fs-1 👋
              %h3.text-center Inicio de Sesión
          %button.btn-close.text-reset{"aria-label" => "Close", "data-bs-dismiss" => "offcanvas", type: "button"}
        .offcanvas-body
          = yield

      %section.p-0.d-flex.align-items-center.position-relative.overflow-hidden
        .container-fluid
          / left
          .row
            .align-items-center.justify-content-center.bg-primary.bg-opacity-10.vh-lg-100
              .p-3.p-lg-5
                / Title
                = render partial: 'layouts/main_banner', locals: {bg_color: ' '}

              - @billboards = Billboard.activas
              - if @billboards.any?
                = render partial: 'layouts/carousel', locals: {billboards: @billboards}

              / Right

                  

              / Row END
          / Row END
      / **************** MAIN CONTENT END ****************
      / Back to top
      .back-top
      %i.bi.bi-arrow-up-short.position-absolute.top-50.start-50.translate-middle
