!!!
%html{ lang: "#{I18n.locale}"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Coesfau
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    =# render "shared/sidebar"
    =# render "shared/navbar"
    = render "shared/flashes"
    .container-fluid
      .row
        .col.min-vh-100.p-3
          - if false
            %button.btn.btn-primary.float-end{"data-bs-toggle": :offcanvas, role: :button, 'data-bs-toggle': :tooltip, title: 'Menú'}
              %i.fa.fa-chevron-left.fs-3{"data-bs-target": "#offcanvas", "data-bs-toggle": "offcanvas"}
          = yield
