!!!
%html{ lang: "#{I18n.locale}"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Coes
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "fontawesome", "data-turbo-track": "reload"
    =# stylesheet_link_tag "style", "data-turbo-track": "reload", id: 'style-switch'
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    = favicon_link_tag 'ico_logo.png'

  %body
    %main
      =# render "shared/sidebar"
      = render "shared/navbar"
      %br
      = render "shared/flashes"

      .container-fluid
        .row
          .col.min-vh-100.p-3
            - unless true# controller_name.eql? 'sessions'
              %button.btn.btn-primary.float-end{"data-bs-toggle": :offcanvas, role: :button, 'data-bs-toggle': :tooltip, title: 'Menú'}
                %i.fa.fa-chevron-left.fs-3{"data-bs-target": "#offcanvas", "data-bs-toggle": "offcanvas"}
            = yield
